.sec-produce{
	padding-bottom: 140px;
	@include mq(ipd){
		padding-bottom: 90px;
	}
	@include mq(){
		padding-bottom: 50px;
	}
}

.salon-produce{
	&__logo{
		max-width: 394px;
		margin: 0 auto;
		width: 100%;
		position: relative;
		padding-bottom: 155px;
		@include mq(){
			max-width: 305px;
			padding-bottom: 70px;
		}
		@include p-after(1px, 100px){
			background: #000;
			left: 50%;
			bottom: 16px;
		}
		@include mq(){
			@include p-after(1px, 50px){
				bottom: 0;
			}
		}
	}
	&__img{
		margin-bottom: 120px;
		@include mq(){
			margin-bottom: 50px;
		}
	}
	&__cnt{
		@include flex(0, 0, wrap);
		position: relative;
	}
	&__info{
		width: calc(100% - 38.08%);
		@include mq(ipd){
			width: calc(100% - 32.08%);
		}
		@include mq(){
			width: 100%;
		}
		&-desc{
			@include font-size(18);
			font-weight: bold;
			line-height: 2.2;
			letter-spacing: 1px;
			@include mq(ipd){
				@include font-size(15);
				line-height: 1.8;
			}
			@include mq(){
				line-height: 1.6;
				letter-spacing: 0;
			}
			p{
				margin-bottom: 40px;
				@include mq(ipd){
					margin-bottom: 15px;
				}
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
	&__ttl{
		width: 38.08%;
		position: relative;
		right: -14px;
		top: 22px;
		@include mq(ipd){
			width: 32.08%;
		}
		@include mq(){
			width: 150px;
			position: absolute;
			right: -20px;
			bottom: 0;
			top: auto;
		}
	}
}


.sec-location{
	background: #f8f8f8;
	padding: 77px 0 105px;
	@include mq(ipd){
		padding: 60px 0 90px;
	}
	@include mq(){
		padding: 50px 0;
	}
}


.salon-location{
	&__flex{
		@include flex(0, 0, wrap);
		margin-bottom: 80px;
		@include mq(ipd){
			margin-bottom: 50px;
		}
		@include mq(){
			margin-bottom: 30px;
		}
	}
	&__img{
		width: 50%;
		padding-right: 60px;
		@include mq(ipd){
			padding-right: 20px
		}
		@include mq(){
			width: 305px;
			padding-right: 0;
			margin: 0 auto 30px;
		}
	}
	&__cnt{
		width: 50%;
		padding-top: 55px;
		@include mq(ipd){
			padding-top: 0;
		}
		@include mq(){
			width: 100%;
		}
	}
	&__gallery{
		@include flex(0, 0, wrap);
		margin: 0 -20px;
		@include mq(){
			margin: 0 -10px;
		}
		@include mq(sm){
			margin: 0;
		}
		.item{
			width: 50%;
			padding: 0 20px;
			@include mq(){
				padding: 0 10px;
			}
			@include mq(sm){
				width: 100%;
				padding: 0;
				margin-bottom: 15px;
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
}

.sec-brand{
	padding: 126px 0 110px;
	@include mq(ipd){
		padding: 80px 0;
	}
	@include mq(){
		padding: 50px 0;
	}
	.inner{
		max-width: 1500px;
	}
}

.salon-brand{
	&__flex{
		@include flex(0, 0, wrap);
	}
	&__img{
		width: 50%;
		padding-right: 6%;
		@include mq(ipd){
			padding-right: 20px;
		}
		@include mq(){
			max-width: 350px;
			width: 100%;
			padding-right: 0;
			margin: 0 auto 30px;
		}
	}
	&__cnt{
		width: 50%;
		padding-top: 27px;
		@include mq(ipd){
			padding-top: 0;
		}
		@include mq(){
			width: 100%;
		}
	}
	&__wp{
		max-width: 600px;
		width: 100%;
		@include mq(){
			max-width: 100%;
		}
	}
	&__sign{
		margin-top: -44px;
		right: -6px;
		@include mq(){
			right: 0;
			margin-top: 0;
		}
		span, small{
			display: block;
			font-family: $font-en;
			text-align: right;
			font-weight: 700;
			color: rgba(#7e92a4, 0.1);
		}
		span{
			@include font-size(80);
			line-height: 1.15;
			@include mq(xl){
				@include font-size(60);
			}
			@include mq(ipd){
				@include font-size(50);
			}
			@include mq(){
				@include font-size(40);
			}
		}
		small{
			@include font-size(30);
			letter-spacing: 3.5px;
			@include mq(ipd){
				@include font-size(22);
			}
			@include mq(){
				letter-spacing: 2px;
			}
		}
	}
}


.sec-environment{
	padding: 146px 0 125px;
	background: #f8f8f8;
	@include mq(ipd){
		padding: 80px 0;
	}
	@include mq(){
		padding: 50px 0 35px;
	}
}

.salon-environment{
	&__top{
		@include flex(0, 0, wrap);
		margin-bottom: 100px;
		@include mq(ipd){
			margin-bottom: 50px;
		}
		.c-ttl__03{
			width: 50%;
			@include mq(){
				width: 100%;
			}
		}
		&-cnt{
			width: 50%;
			@include mq(){
				width: 100%;
			}
			p{
				margin-bottom: 25px;
				@include mq(){
					margin-bottom: 15px;
				}
				a{
					color: #ee5835;
					display: block;
					@include font-size(21);
					@include mq(){
						@include font-size(16);
					}
				}
				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}
	&__ttl{
		text-align: center;
		margin-bottom: 65px;
		@include mq(){
			margin-bottom: 30px;
		}
		span{
			@include font-size(24);
			font-weight: bold;
			display: inline-block;
			border-bottom: 1px solid;
			letter-spacing: 1.5px;
			padding-bottom: 5px;
			@include mq(){
				@include font-size(18);
			}
			@include mq(xs){
				@include font-size(15);
			}
		}
	}
	&__list{
		margin: 0 -7.5px;
		@include flex(0, 0, wrap);
		@include mq(sm){
			margin: 0;
		}
		.item{
			width: 33.33%;
			padding: 0 7.5px;
			margin-bottom: 21px;
			@include mq(ipd){
				width: 50%;
			}
			@include mq(sm){
				width: 100%;
				padding: 0;
				margin-bottom: 15px;
			}
			&__wp{
				background: #fff;
				padding: 20px 30px;
				@include flex(0, center);
				@include mq(){
					padding: 15px 20px;
				}
			}
			&__icn{
				width: 83px;
				@include mq(){
					width: 50px;
				}
			}
			&__txt{
				width: calc(100% - 83px);
				padding-left: 20px;
				@include font-size(21);
				font-weight: bold;
				line-height: 1.3;
				letter-spacing: 1px;
				@include mq(ipd){
					@include font-size(18);
				}
				@include mq(){
					width: calc(100% - 50px);
					@include font-size(16);
				}
			}
		}
	}
}