.sec-career{
	padding-bottom: 138px;
	position: relative;
	@include mq(){
		padding-bottom: 50px;
	}
	&:before{
		content: '';
		background: #f5f6f8;
		width: 100%;
		height: calc(100% - 310px);
		bottom: 0;
		left: 0;
		position: absolute;
		@include mq(lp){
			height: calc(100% - 228px);
		}
	}
	.inner{
		position: relative;
		z-index: 2;
	}
}

.career{
	&-heading{
		text-align: center;
		margin-bottom: 136px;
		@include mq(lp){
			margin-bottom: 70px;
		}
		@include mq(){
			margin-bottom: 35px;
		}
		span{
			font-weight: bold;
			letter-spacing: 1px;
			display: inline-block;
			color: #000;
			line-height: 1;
			text-decoration: underline;
			@include font-size(52);
			@include mq(lp){
				@include font-size(40);
			}
			@include mq(){
				letter-spacing: 0;
				@include font-size(24);
			}
		}
	}
	&-flex{
		@include flex();
		@include mq(){
			@include flex(0,0,wrap);
		}
	}
	&-box{
		width: 50%;
		position: relative;
		@include mq(xl){
			padding-right: 15px;
		}
		@include mq(){
			width: 100%;
			padding-right: 0;
			margin-bottom: 35px;
		}
	}
	&-title{
		color: rgba(#7e92a4,0.1);
		writing-mode: tb-rl;
		position: absolute;
		left: -44px;
		top: -30px;
		letter-spacing: 7px;
		font-weight: bold;
		line-height: 1;
		@include font-size(80);
		@include mq(xl){
			left: -10px;
			top: -1px;
			letter-spacing: 0;
			@include font-size(50);
		}
		@include mq(){
			@include font-size(36);
		}
	}
	&-img{
		padding-right: 60px;
		margin-bottom: 59px;
		@include mq(xl){
			padding-right: 30px;
			margin-bottom: 25px;
			letter-spacing: 4px;
		}
		@include mq(){
			letter-spacing: 2px;
			padding-right: 0;
			margin-bottom: 15px;
		}
		img{
			width: 100%;
		}
	}
	&-txt{
		font-weight: 500;
		color: #000;
		line-height: 1.75;
		margin-bottom: 48px;
		letter-spacing: 0.5px;
		@include font-size(16);
		@include mq(){
			line-height: 1.6;
			letter-spacing: 0;
			margin-bottom: 15px;
			@include font-size(14);
		}
	}
	&-name{
		font-weight: bold;
		margin-bottom: 8px;
		letter-spacing: 2.25px;
		@include font-size(24);
		@include mq(){
			margin-bottom: 5px;
			letter-spacing: 0;
			@include font-size(18);
		}
		b{
			margin-left: 6px;
			@include font-size(20);
			@include mq(){
				margin-left: 5px;
				@include font-size(16);
			}
		}
		span{
			display: inline-block;
			font-weight: 500;
			color: #fff;
			background: #000;
			border-radius: 3px;
			padding: 6px 11px;
			letter-spacing: 1px;
			margin-left: 11px;
			transform: translate(0px, -4px);
			@include font-size(14);
			@include mq(){
				letter-spacing: 0;
				@include font-size(12);
			}
		}
	}
	&-ct{
		padding-top: 90px;
		width: 50%;
		@include mq(){
			padding-top: 0;
			width: 100%;
		}
	}
	&-ttl{
		font-weight: 700;
		color: #000;
		margin-bottom: 48px;
		margin-left: -7px;
		letter-spacing: 3px;
		line-height: 1.2;
		@include font-size(50);
		@include mq(lp){
			margin-left: 0;
			margin-bottom: 30px;
			@include font-size(40);
		}
		@include mq(xl){
			letter-spacing: 0;
			margin-bottom: 15px;
			@include font-size(30);
		}
		@include mq(){
			@include font-size(24);
		}
	}
	&-desc{
		color: #000;
		font-weight: bold;
		line-height: 1.529;
		letter-spacing: 2.5px;
		margin-bottom: 35px;
		@include font-size(34);
		@include mq(lp){
			@include font-size(25);
		}
		@include mq(xl){
			margin-bottom: 25px;
			letter-spacing: 0;
			@include font-size(22);
		}
		@include mq(){
			margin-bottom: 15px;
			@include font-size(20);
		}
	}
	&-thumb{
		padding-left: 60px;
		@include mq(xl){
			padding-left: 30px;
		}
		@include mq(){
			padding-left: 0;
		}
		img{
			width: 100%;
		}
	}
}

.sec-live{
	padding: 98px 0 120px;
	@include mq(lp){
		padding: 60px 0 80px;
	}
	@include mq(){
		padding: 50px 0;
	}
}

.live{
	&-heading{
		text-align: center;
		font-weight: bold;
		margin-bottom: 52px;
		letter-spacing: 0;
		@include font-size(60);
		@include mq(lp){
			@include font-size(40);
		}
		@include mq(xl){
			margin-bottom: 35px;
			@include font-size(36);
		}
		@include mq(){
			margin-bottom: 15px;
			@include font-size(24);
		}
		span{
			display: block;
			margin-bottom: -59px;
			letter-spacing: 9px;
			color: rgba(#7e92a4,0.1);
			line-height: 1;
			font-weight: bold;
			@include font-size(80);
			@include mq(lp){
				margin-bottom: -40px;
				@include font-size(60);
			}
			@include mq(xl){
				@include font-size(50);
			}
			@include mq(){
				margin-bottom: -20px;
				@include font-size(36);
			}
		}
		small{
			margin-top: 14px;
			letter-spacing: 2px;
			display: block;
			font-weight: bold;
			@include font-size(30);
			@include mq(lp){
				letter-spacing: 0;
				margin-top: 10px;
				@include font-size(24);
			}
			@include mq(xl){
				@include font-size(20);
			}
			@include mq(){
				margin-top: 5px;
				@include font-size(18);
			}
		}
	}
	&-txt{
		color: #000;
		text-align: center;
		line-height: 1.75;
		margin-bottom: 105px;
		letter-spacing: 0.5px;
		font-weight: 500;
		@include font-size(16);
		@include mq(lp){
			margin-bottom: 70px;
			letter-spacing: 0;
		}
		@include mq(xl){
			@include font-size(14);
		}
		@include mq(){
			margin-bottom: 50px;
		}
	}
	&-title{
		font-weight: bold;
		@include flex(0,center);
		margin-bottom: 80px;
		letter-spacing: 4px;
		@include font-size(50);
		@include mq(lp){
			@include font-size(40);
		}
		@include mq(xl){
			margin-bottom: 50px;
			@include font-size(36);
		}
		@include mq(){
			@include font-size(24);
		}
		span{
			padding-top: 9px;
			margin-left: 14px;
			letter-spacing: 1.5px;
			color: #ee5835;
			font-weight: bold;
			@include font-size(14);
			@include mq(lp){
				letter-spacing: 0;
			}
		}
	}
	&-list{
		@include flex(0,0,wrap);
		margin: 0 -20px;
		@include mq(xl){
			margin: 0 -10px;
		}
		@include mq(){
			margin: 0;
		}
		li{
			width: 50%;
			padding: 0 20px;
			margin-bottom: 30px;
			@include mq(xl){
				padding: 0 10px;
			}
			@include mq(){
				width: 100%;
				padding: 0;
				&:last-child{
					margin-bottom: 0;
				}
			}
			&:nth-child(2n){
				@include mq(md-min){
					margin-top: -137px;
					.live-ct{
						padding-top: 50px;
					}
					@include mq(lp){
						margin-top: -80px;
					}
				}
			}
		}
	}
	&-ct{
		border: 1px solid #fafafa;
		padding: 28px 72px 30px;
		min-height: 376px;
		position: relative;
		@include mq(xl){
			padding: 30px 38px 26px;
			min-height: max-content;
		}
		@include mq(){
			padding: 25px;
		}
		p{
			color: #000;
			line-height: 1.75;
			font-weight: 500;
			letter-spacing: 0.7px;
			@include font-size(16);
			@include mq(xl){
				letter-spacing: 0;
				@include font-size(14);
			}
			@include mq(){
				line-height: 1.6;
			}
		}
	}
	&-cate{
		position: absolute;
		left: -2px;
		top: 0;
		@include flex(0,start);
		span{
			writing-mode: vertical-rl;
			font-weight: bold;
			background: #ee5835;
			padding: 10px 3px 11px;
			letter-spacing: 4px;
			color: #fff;
			display: inline-block;
			@include font-size(34);
			@include mq(xl){
				@include font-size(24);
			}
			@include mq(){
				letter-spacing: 0;
				@include font-size(20);
			}
		}
		small{
			writing-mode: vertical-rl;
			font-weight: 500;
			background: #000;
			padding: 16px 7px 11px;
			letter-spacing: 1px;
			color: #fff;
			display: inline-block;
			@include font-size(15);
			@include mq(xl){
				@include font-size(12);
			}
		}
	}
	&-img{
		text-align: center;
		margin-bottom: 13px;
		img{
			display: inline-block;
		}
	}
	&-ttl{
		color: #000;
		margin-bottom: 15px;
		font-weight: 500;
		line-height: 1.333;
		text-align: center;
		@include font-size(21);
		@include mq(xl){
			@include font-size(18);
		}
		span{
			color: #ee5835;
		}
	}
}

.sec-leader{
	padding: 137px 0 143px;
	background: #f8f8f8;
	@include mq(lp){
		padding: 100px 0;
	}
	@include mq(){
		padding: 50px 0;
	}
}

.leader{
	&-flex{
		margin-bottom: 85px;
		@include flex();
		@include mq(){
			margin-bottom: 35px;
			@include flex(0,0,wrap);
		}
		p{
			padding-top: 5px;
			letter-spacing: 0.6px;
			width: 50%;
			color: #000;
			line-height: 1.75;
			font-weight: 500;
			@include font-size(16);
			@include mq(xl){
				letter-spacing: 0;
				@include font-size(14);
			}
			@include mq(){
				width: 100%;
			}
		}
	}
	&-heading{
		width: 50%;
		font-weight: bold;
		padding-right: 10px;
		@include font-size(53);
		@include mq(lp){
			@include font-size(40);
		}
		@include mq(xl){
			@include font-size(32);
		}
		@include mq(){
			width: 100%;
			padding-right: 0;
			@include font-size(24);
		}
		span{
			margin-top: 14px;
			letter-spacing: 1px;
			line-height: 1.75;
			display: block;
			@include font-size(24);
			@include mq(lp){
				@include font-size(20);
			}
			@include mq(xl){
				line-height: 1.6;
				@include font-size(18);
			}
		}
	}
	&-list{
		li{
			box-shadow: none;
			padding: 52px 75px;
			@include mq(xl){
				padding: 52px 35px;
			}
			@include mq(){
				padding: 0 10px;
			}
			.img{
				transition: all 0.3s;
			}
			&.slick-active{
				.img{
					transform: scale(1.2);
					transition: all 0.3s;
					@include mq(){
						transform: scale(1);
					}
					img{
						transition: all 0.3s;
						max-width: 100%;
					}
				}
			}
			img{
				width: 100%;
				transition: all 0.3s;
			}
		}
		.slick-track{
			display: flex;
			align-items: center;
		}
		.slick-prev,.slick-next{
			height: 50px;
			width: 50px;
			border-radius: 50%;
			transition: all 0.3s;
			position: absolute;
			z-index: 10;
			top: 50%;
			left: 16.5%;
			background: url('../img/charm/career/icon-prev.png') center no-repeat;
			background-size: contain;
			transform: translateY(-50%);
			@include mq(){
				width: 30px;
				height: 30px;
				left: 6.5%;
			}
			&:hover{
				transition: all 0.3s;
				opacity: 0.7;
			}
			&:before{
				display: none;
			}
		}
		.slick-next{
			right: 16.5%;
			left: auto;
			background: url('../img/charm/career/icon-next.png') center no-repeat;
			background-size: contain;
			@include mq(){
				right: 6.5%;
			}
		}
	}
}