.sec-change{
	padding: 0 0 259px;
	@include mq(lp){
		padding: 0 0 150px;
	}
	@include mq(){
		padding: 0 0 50px;
	}
	.inner{
		max-width: 1500px;
	}
}

.change{
	&-heading{
		line-height: 1.1;
		text-align: center;
		font-weight: bold;
		margin-bottom: 40px;
		letter-spacing: 2px;
		@include font-size(58);
		@include mq(lp){
			@include font-size(45);
		}
		@include mq(xl){
			@include font-size(36);
		}
		@include mq(){
			margin-bottom: 25px;
			line-height: 1.2;
			@include font-size(30);
		}
		b{
			@include font-size(47);
			@include mq(lp){
				@include font-size(38);
			}
			@include mq(xl){
				@include font-size(30);
			}
			@include mq(){
				@include font-size(24);
			}
		}
		span{
			color: #ee5835;
		}
		small{
			letter-spacing: 1px;
			background: #000;
			padding: 5px 17px;
			color: #fff;
			font-weight: bold;
			display: inline-block;
			@include font-size(28);
			@include mq(lp){
				@include font-size(22);
			}
			@include mq(xl){
				letter-spacing: 0;
				margin-top: 10px;
				@include font-size(18);
			}
			@include mq(){
				padding: 5px 10px;
				@include font-size(16);
			}
		}
	}
	&-txt{
		line-height: 2;
		color: #000;
		margin-bottom: 230px;
		letter-spacing: 1px;
		text-align: center;
		font-weight: 500;
		@include font-size(16);
		@include mq(lp){
			margin-bottom: 100px;
		}
		@include mq(xl){
			letter-spacing: 0;
			@include font-size(14);
		}
		@include mq(){
			line-height: 1.6;
			margin-bottom: 50px;
		}
	}
	&-list{
		li{
			@include flex(0,start);
			margin-bottom: 286px;
			@include mq(lp){
				margin-bottom: 150px;
			}
			@include mq(){
				@include flex(0,0,wrap);
				margin-bottom: 35px;
			}
			&:last-child{
				margin-bottom: 0;
			}
			&:nth-child(2n){
				@include mq(md-min){
					justify-content: flex-end;
					.change-img{
						order: 2;
						span{
							text-align: left;
							padding-left: 40px;
							letter-spacing: 2px;
						}
					}
				}
				.change-ct{
					@include mq(md-min){
						order: 1;
						margin-top: -87px;
						padding: 126px 20px 111px 108px;
						@include mq(lp){
							margin-top: -50px;
							padding: 35px 20px 100px 50px;
						}
						&:before{
							left: auto;
							right: -355px;
							@include mq(xl){
								right: -155px;
							}
						}
					}
				}
			}
		}
	}
	&-img{
		width: 50%;
		position: relative;
		z-index: 2;
		@include mq(){
			width: 100%;
		}
		img{
			width: 100%;
		}
		span{
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			padding: 24px 17px;
			text-align: right;
			color: #fff;
			font-weight: bold;
			@include font-size(35);
			@include mq(lp){
				padding: 15px !important;
				@include font-size(28);
			}
			@include mq(xl){
				bottom: 0;
				@include font-size(20);
			}
			@include mq(){
				padding: 10px !important;
				text-align: center;
				@include font-size(16);
			}
		}
	}
	&-ct{
		margin-top: -74px;
		width: 50%;
		background: #e9edee;
		padding: 124px 20px 111px 126px;
		position: relative;
		margin-left: 0;
		max-width: 600px;
		@include mq(lp){
			margin-top: -40px;
			padding: 35px 20px 100px 50px !important;
		}
		@include mq(xl){
			padding: 30px 15px 85px 20px !important;
		}
		@include mq(){
			width: 100%;
			margin: 0 !important;
			padding: 20px 15px 55px !important;
		}
		&:before{
			content: "";
			height: 100%;
			width: 355px;
			background: #e9edee;
			left: -355px;
			top: 0;
			position: absolute;
			@include mq(xl){
				left: -155px;
				width: 155px;
			}
			@include mq(){
				display: none;
			}
		}
	}
	&-ttl{
		letter-spacing: 1px;
		color: #000;
		font-weight: bold;
		margin-bottom: 76px;
		@include font-size(30);
		@include mq(lp){
			margin-bottom: 60px;
			@include font-size(24);
		}
		@include mq(xl){
			@include font-size(22);
		}
		@include mq(){
			margin-bottom: 35px;
			@include font-size(18);
		}
		span{
			display: inline-block;
			color: #ee5835;
			font-weight: 700;
			letter-spacing: 0;
			line-height: 1;
			margin-top: 10px;
			border-bottom: 2px solid #ee5835;
			@include font-size(53);
			@include mq(lp){
				@include font-size(40);
			}
			@include mq(xl){
				@include font-size(36);
			}
			@include mq(){
				margin-top: 5px;
				@include font-size(30);
			}
		}
	}
	&-desc{
		color: hsla(0,0%,100%,.5);
		font-weight: 700;
		position: absolute;
		bottom: -23px;
		line-height: 1;
		right: 0;
		letter-spacing: 5px;
		font-family: $font-en;
		@include font-size(150);
		@include mq(lp){
			@include font-size(120);
		}
		@include mq(xl){
			bottom: -14px;
			letter-spacing: 0;
			@include font-size(80);
		}
		@include mq(){
			bottom: -9px;
			@include font-size(60);
		}
	}
}