/* ====================================================
Control
==================================================== */
.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--brd {
		color: $c-brd;
	}
}

.c-bg { //background
	&--brd {
		background: $c-brd;
		color: white;
	}
}



.c-ft{//font-family
	&--en{
		font-family: $font-en;
	}
	&--jp{
		font-family: $font-jp;
	}
	&--oswald{
		font-family: $font-oswald;
	}
}



.c-fw{//font-weight
	&--lt{
		font-weight: 300!important
	}
	&--rg{
		font-weight: 400!important
	}
	&--md{
		font-weight: 500!important
	}
	&--sbd{
		font-weight: 600!important
	}
	&--bd{
		font-weight: 700!important
	}
	&--bk{
		font-weight: 900!important
	}
}



.c-tx--v {//Vertical writing
	//display: inline-block;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	&-pc{
		@include mq(md-min) {
			-ms-writing-mode: tb-rl;
			writing-mode: vertical-rl;
		}
	}
}



.c-al{
	&--c{
		text-align: center!important;
	}
	
	&--r{
		text-align: right!important
	}
	
	&--l{
		text-align: left
	}
}




.c-val{//vertical-align
	&--md{
		vertical-align: middle
	}
	&--top{
		vertical-align: top
	}
}



// Scroll Box
.c-scroll-box{
	padding-bottom: 20px;
	overflow-x: scroll;
	overflow-y: hidden;
	&-y{
		padding-bottom: 20px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	&-pc{
		@include mq(){
			padding-bottom: 20px;
			overflow-x: scroll;
			overflow-y: hidden;
		}
	}
}



// Image position control
.c-pull{
	&--left{
		margin-left: calc(((100vw - 100%) / 2) * -1)
	}
	&--right{
		margin-right: calc(((100vw - 100%) / 2) * -1)
	}
}



/* ====================================================
Component
==================================================== */
// Common Text style
.c-txt{
	&__basic{
		@include font-size(16);
		font-weight: 500;
		line-height: 1.75;
		@include mq(){
			@include font-size(14);
			line-height: 1.5;
		}
		small {
			@include font-size(13);
			@include mq {
				@include font-size(11);
			}
		}
	}
	&__basic02{
		@include fts(18,40);
		letter-spacing: 0.04em;
		@include mq(){
			@include font-size(16);
			line-height: 1.6;
		}
	}
}



// Common Title style
%__c-ttl__01{

}

%__c-ttl__02{

}

%__c-btn__01{

}

%__c-btn__02{

}


.c{
	//ttl
	&-ttl{
		&__01{
			@include flex();
			font-family: $font-en;
			color: $c-brd;
			font-weight: bold;
			@include fts(20,26.25);
			letter-spacing: 0.12em;
			> * {
				position: relative;
				padding: 0 0 0 35px;
				&:before {
					position: absolute;
					content: '';
					width: 25px;
					height: 1px;
					top: 43%;
					left: 0;
					background: $c-brd;
				}
			}
		}
		&__02{
			@include fts(52,70);
			font-weight: bold;
			letter-spacing: 0.045em;
			@include mq(xl) {
				@include font-size(42);
			}
			@include mq {
				@include font-size(30);
			}
			@include mq(xs) {
				@include font-size(26);
			}
			.line {
				text-decoration: underline;
			}
		}
		&__03{
			text-align: center;
			margin-bottom: 127px;
			@include mq(xl){
				margin-bottom: 90px;
			}
			@include mq(){
				margin-bottom: 50px;
				text-align: left;
			}
			span, small{
				display: block;
			}
			span{
				@include font-size(60);
				line-height: 1.3;
				font-weight: bold;
				margin-bottom: 36px;
				letter-spacing: 4px;
				@include mq(xl){
					@include font-size(40);
				}
				@include mq(){
					@include font-size(30);
					letter-spacing: 2px;
					margin-bottom: 20px;
				}
				@include mq(xs){
					@include font-size(24);
				}
				small{
					@include font-size(50);
					display: inline;
					color: #000;
					@include mq(xl){
						@include font-size(32);
					}
					@include mq(){
						@include font-size(26);
					}
					@include mq(xs){
						@include font-size(22);
					}
				}
				strong{
					color: #ee5835;
					text-decoration: underline;
					@include palt;
					margin-right: 15px;
					@include mq(){
						margin-right: 0;
					}
				}
			}
			small{
				@include font-size(21);
				font-weight: bold;
				letter-spacing: 1px;
				@include mq(xl){
					@include font-size(18);
				}
				@include mq(xs){
					@include font-size(16);
				}
			}
			&--style02{
				text-align: left;
				margin-bottom: 80px;
				@include mq(xl){
					margin-bottom: 50px;
				}
				@include mq(){
					margin-bottom: 30px;
				}
				span{
					small{
						background: none;
						padding: 0;
						line-height: 1.3;
					}
				}
				small{
					display: inline;
					@include font-size(32);
					color: #fff;
					background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #000), color-stop(50%, transparent));
					background-image: -o-linear-gradient(left, #000 50%, transparent 50%);
					background-image: linear-gradient(to right, #000 50%, transparent 50%);
					background-size: 200% 65px;
					background-repeat: no-repeat;
					background-position: 0 0px;
					padding-bottom: 13px;
					padding-top: 5px;
					line-height: 2.15;
					@include mq(xl){
						@include font-size(24);
						padding-bottom: 5px;
						padding-top: 0px;
					}
					@include mq(){
						@include font-size(18);
						padding-bottom: 4px;
						padding-top: 2px;
					}
					@include mq(xs){
						@include font-size(16);
					}
					strong{
						padding: 0 12px;
					}
				}
			}
			&--style03{
				margin-bottom: 27px;
				text-align: left;
				@include mq(){
					margin-bottom: 15px;
				}
				span{
					@include font-size(53);
					margin-bottom: 56px;
					line-height: 1.45;
					@include mq(xl){
						@include font-size(30);
						margin-bottom: 30px;
					}
					@include mq(){
						@include font-size(27);
					}
					@include mq(xs){
						@include font-size(24);
					}
					strong{
						margin-right: 0;
					}
				}
				small{
					@include font-size(24);
					font-weight: bold;
					line-height: 1.75;
					@include mq(xl){
						@include font-size(18);
					}
					@include mq(xs){
						@include font-size(16);
					}
				}
			}
		}
		&__04{
			@include fts(24,42);
			font-weight: bold;
			letter-spacing: 0.015em;
			@include mq(xl) {
				@include font-size(20);
			}
			@include mq {
				@include font-size(17);
			}
			@include mq(xs) {
				@include font-size(15);
			}
		}
		&__05{
			text-align: center;
			margin-bottom: 38px;
			span{
				@include font-size(20);
				font-weight: 700;
				line-height: 1.5;
				text-decoration: underline;
				//letter-spacing: 0.1em;
			}
			
			&--lg{
				span{
					@include font-size(35);
				}
				
			}
		}
	}


	//btn
	&-btn{
		&__01{
			@include flex(center, center);
			text-align: center;
			background: #7e92a4;
			color: white;
			font-weight: bold;
			height: 362px;
			padding: 15px;
			@include mq(xl) {
				height: 260px;
			}
			@include mq {
				height: 160px;
			}
			.inn {
				padding: 10px 0 0;
				> * {
					display: block;
				}
			}
			.c-ft {
				&--en {
					@include font-size(60);
					letter-spacing: 0.103em;
					margin: 0 0 9px;
					@include mq(xl) {
						@include font-size(40);
						letter-spacing: 0;
					}
					@include mq {
						@include font-size(30);
					}
					@include mq(xs) {
						@include font-size(26);
					}
				}
				&--jp {
					@include font-size(15);
					letter-spacing: 0.08em;
					margin: 0 0 45px;
					@include mq(xl) {
						margin: 0 0 30px;
					}
					@include mq {
						margin: 0 0 15px;
						@include font-size(13);
					}
				}
			}
			&--brd {
				background: $c-brd;
			}
		}
		&__02{
			color: #000;
			font-weight: 700;
			display: block;
			padding-left: 88px;
			position: relative;
			letter-spacing: 2px;
			transition: all 0.3s;
			z-index: 10;
			@include font-size(21);
			@include mq(xl){
				padding-left: 70px;
				@include font-size(18);
			}
			@include mq(){
				padding-left: 40px;
				@include font-size(16);
			}
			.material-symbols-outlined {
				transition: all 0.3s;
				@include flex(center, center);
				width: 70px;
				height: 70px;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				background: black;
				color: white;
				@include mq(xl){
					width: 60px;
					height: 60px;
				}
				@include mq(){
					width: 35px;
					height: 35px;
				}
			}
			@include mq(md-min){
				&:hover{
					padding-left: 98px;
					transition: all 0.4s;
					@include mq(xl){
						padding-left: 80px;
					}
					.material-symbols-outlined {
						transform: scale(1.1) translateY(-50%);
						transition: all 0.4s;
					}
				}
			}
		}
		&__03 {
			position: relative;
			border-bottom: 2px solid black;
			@include font-size(18);
			font-weight: bold;
			@include flex();
			padding: 24px 35px 24px 0;
			letter-spacing: 0.1em;
			@include mq {
				@include font-size(15);
			}
			.material-symbols-outlined {
				position: absolute;
				top: 50%;
				right: 7px;
				transform: translateY(-50%);
			}
		}
		&__04{
			font-family: $font-en;
			@include font-size(50);
			font-weight: 700;
			color: #ffffff;
			letter-spacing: 0.05em;
			height: 125px;
			padding: 10px 10px;
			width: 755px;
			text-align: center;
			background: #000000;
			max-width: 100%;
			@include flex(center, center);
			display: inline-flex;
			@include mq{
				height: 80px;
				width: 350px;
				@include font-size(35);
			}
			span{
				position: relative;
			}
		}
	}
}



//fade up
.scrollin {
	opacity: 0;
	-webkit-transform: translate(0, 70px);
	-ms-transform: translate(0, 70px);
	transform: translate(0, 70px);
	&.active{
		opacity: 1;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		-o-transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transition: 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	}
}