.sec-company{
	margin-top: -58px;
	margin-bottom: 108px;
	@include mq{
		margin-top: 0;
		margin-bottom: 50px;
	}
	.bl-recruitct{
		font-weight: 500;
		line-height: 2;
		dl{
			dd{
				@include mq(md-min){
					padding: 30.5px 44px 30.5px 60px;
				}
				.fl{
					@include flex();
					span{
						&:first-child{
							width: 130px;
							@include mq{
								width: 100px;
							}
						}
						&:last-child{
							width: calc(100% - 130px);
							@include mq{
								width: calc(100% - 100px);
							}
						}
					}
				}
			}
		}
	}
}