.sec-contact-thanks{
	padding: 135px 0 118px;
	@include mq{
		padding: 70px 0;
	}
	.check__ttl{
		@include mq(md-min){
			margin-bottom: 192px;
		}
	}
	.c-txt__basic{
		line-height: 1.875;
		font-weight: 500;
		font-family: $font-yugothic;
	}
}