.page-contact{

}
.sec- {
	&contact-check{
		padding: 141px 0px 152px;
		@include mq {
			padding: 70px 0;
		}
	}
}
.check__ttl{
	@include fts(24, 42);
	font-family: $font-yugothic;
	font-weight: bold;
	color: #000000;
	margin-bottom: 150px;
	@include mq{
		@include font-size(18);
		margin-bottom: 75px;
	}
}
.contact-table{
	max-width: 1000px;
	margin: 0 auto 140px;
	@include fts(14,30);
	font-family: $font-yugothic;
	@include mq{
		margin-bottom: 70px;
	}
	table{
		width: 100%;
	}
	td{
		border: 1px solid #b4b4b4;
		padding: 31px 10px 29px;
		&.left{
			width: 38.6%;
			background: #f2f2f2;
			min-width: 120px;
		}
		&.right{
			padding-left: 64px;
		}
	}
	&__ttl{
		font-weight: bold;
		text-align: center;
	}
	&__txt{
		font-weight: 500;
	}
}
.bx-check-btn{
	>button{
		&:first-child{
			margin-right: 45px;
			@include mq(sm){
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}
}