.page-contact{
	.sec-mv-page{
		margin-bottom: 0;
	}
}
.sec-{
	&contact{
		padding: 146px 0 149px;
		@include mq{
			padding: 70px 0;
		}
		.c-txt__basic{
			line-height: 1.875;
			font-family: $font-yugothic;
			font-weight: bold;
			.fa-external-link-alt{
				margin: 0 4px 0 2px;
			}
			span{
				color: #ee5835;
			}
			>p{
				&:not(:last-child){
					margin-bottom: 18px;
				}
			}
		}
	}
}
.txt-under{
	text-decoration: underline;
}
.contact{
	&__ttl{
		@include fts(42, 39);
		color: #ee5835;
		font-weight: bold;
		font-family: $font-yugothic;
		text-decoration: underline;
		letter-spacing: .75px;
		margin-bottom: 67px;
		@include mq{
			@include font-size(28);
			line-height: 1.3;
			margin-bottom: 30px;
		}
	}
}
.steps-list{
	max-width: 760px;
	margin: 0 auto 93px;
	@include flex(between);
	position: relative;
	@include mq{
		margin-bottom: 50px;
	}
	@include p-after(80%, 1px){
		background: #f2f2f2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
	}
	>li{
		position: relative;
		z-index: 2;
	}
	&__item{
		&-child{
			@include flex(center, center, 0, 0, 1);
			width: 136px;
			height: 136px;
			background: #fafafa;
			border-radius: 50%;
			@include mq(sm){
				width: 80px;
				height: 80px;
			}
		}
		&.active{
			.steps-list__item-child{
				background: #ee5835;
				color: white;
			}
		}
	}
	&__index{
		@include fts(12, 30);
		font-family: $font-en;
		font-weight: bold;
		margin-bottom: 5px;
		@include mq{
			margin-bottom: 0;
		}
		>span{
			position: relative;
			@include p-after(100%, 1px){
				background: currentColor;
				bottom: 0;
				left: 0;
			}
		}
		small{
			@include font-size(16);
			@include mq{
				@include font-size(14);
			}
		}
	}
	&__ttl{
		@include fts(24, 30);
		font-family: $font-yugothic;
		font-weight: bold;
		@include mq{
			@include font-size(18);
		}
	}
}
.bx-contact-form{

}
.require{
	color: #ee5835;
	margin-left: 4px;
}
.contact-form{
	.contact-list{
		margin-bottom: 126px;
		@include mq{
			margin-bottom: 63px;
		}
		&__ttl{
			@include fts(14, 30);
			font-family: $font-yugothic;
			color: #141414;
			font-weight: bold;
			margin-bottom: 3px;
			display: block;
		}
	}
	
	.form-group{
		&:not(:last-child){
			margin-bottom: 47px;
			@include mq{
				margin-bottom: 27px;
			}
		}
	}
	.contact-f{
		@include flex(0, 0, wrap);
		margin: 0 -18px;
		.item-01{
			padding: 0 18px;
			width: 50%;
			@include mq(sm){
				width: 100%;
				&:not(:last-child){
					margin-bottom: 15px;
				}
			}
		}
	}
	.contact-phone{
		@include flex();
		.item-phone{
			width: 74px;
			position: relative;
			&:not(:last-child){
				margin-right: 18px;
				@include p-after(4px, 4px){
					position: absolute;
					background: #666666;
					border-radius: 50%;
					right: -9px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	.form-control{
		border: 1px solid #b4b4b4;
		height: 50px;
		@include font-size(16);
		font-weight: 500;
		display: block;
		width: 100%;
		font-family: $font-yugothic;
		padding: 0 17px;
		outline: none;
		@include mq{
			@include font-size(14);
		}
		&[type="number"]{
			padding: 0 10px;
		}
		&::placeholder{
			color: #666666;
		}
	}
	textarea{
		&.form-control{
			height: 180px;
			resize: none;
		}
	}
	.pure-input{
		input[type=checkbox]{
			opacity: 0;
			&:checked + span:after{
				border-color: #8c8c8c;
			}
		}
		>span{
			padding-left: 20px;
			position: relative;
			display: inline-block;
			letter-spacing: 2px;
			@include p-before(15.18px, 15.18px){
				border: 1px solid #141414;
				left: 0;
				top: 7px;
				@include mq{
					width: 13px;
					height: 13px;
					top: 2px;
				}
			}
			@include p-after(8px, 3px){
				border-style: solid;
				border-color: transparent;
				border-width: 0 0 2px 2px;
				transform: rotate(-45deg) scale(1);
				top: 12px;
				left: 4px;
				transition: all 0.2s ease-out;
				@include mq{
					top: 6px;
					left: 3px;
				}
			}
			
		}
	}
	&__txt{
		letter-spacing: 2px;
		margin-bottom: 12px;
		a{
			position: relative;
			display: inline-block;
			@include p-after(100%, 1px){
				bottom: 1px;
				left: 0;
				background: currentColor;
			}
		}
		&-check{
			@include fts(18, 30);
			font-weight: 500;
			margin-bottom: 67px;
			@include mq{
				@include font-size(14);
			}
		}
	}
}
.contact-btn{
	max-width: 300px;
	background: #ee5835;
	color: white;
	border-radius: 5px;
	@include font-size(16);
	font-family: $font-yugothic;
	font-weight: bold;
	outline: none;
	border: 1px solid #ee5835;
	width: 100%;
	display: inline-block;
	padding: 20px 10px 15px;
	cursor: pointer;
	transition: all .3s ease-out;
	&:hover{
		opacity: .7;
	}
	&.black{
		background: white;
		color: #000000;
		border-color: currentColor;
	}
	.en{
		font-family: $font-en;
	}
}
