.footer{
	background: #f6f6f6;
	padding: 0 0 52px;
	@include mq {
		padding: 0 0 30px;
	}
	@include mq(sm) {
		text-align: center;
	}
	&-btn {
		@include flex(0,0,wrap);
		margin-bottom: 62px;
		@include mq {
			margin-bottom: 30px;
		}
		> * {
			width: 50%;
			@include mq(sm) {
				width: 100%;
			}
		}
	}
	&-f {
		@include flex(between, start, wrap);
		margin: -15px 0 0;
		@include mq(sm) {
			margin: 0;
			display: block;
		}
	}
	&-add {
		@include font-size(15);
		font-weight: 500;
		margin: 36px 0 0 -1px;
		letter-spacing: 0.092em;
		@include mq(sm) {
			margin: 15px 0;
		}
	}
	&-r {
		@include mq(sm-min) {
			text-align: right;
		}
	}
	&-link {
		display: inline-block;
		position: relative;
		@include font-size(14);
		padding: 0 0 4px;
		margin: 0 2px 18px 0;
		&:before {
			position: absolute;
			content: '';
			height: 1px;
			background: #9d9d9d;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.copyright {
		font-family: $font-en;
		@include font-size(12);
		letter-spacing: 0.09em;
		font-weight: 500;
	}
}