.header{
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
	left: 100px;
	@include mq(ipd) {
		position: fixed;
		left: 0;
		@include smooth-transition;
		&.active {
			background: white;
			.header {
				&-logo {
					opacity: 0;
				}
			}
		}
		&.is-fixed {
			background: white;
			.header {
				&-logo {
					opacity: 0;
					&-fixed {
						opacity: 1;
					}
				}
			}
		}
	}
	.inner {
		max-width: 1500px;
		@include flex(start, start);
		padding-top: 52px;
		@include mq(ipd) {
			display: block;
			padding: 0;
		}
	}
	&-l {
		@include mq(ipd-min) {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100px;
			border-right: 1px solid #dddddd;
			padding: 39px 15px 39px 16px;
		}
		@include mq(ipd) {
			@include flex(center,center);
			height: 50px;
			position: relative;
			text-align: center;
		}
	}
	&-logo {
		padding: 2px 0 0;
		@include mq(ipd) {
			position: absolute;
			top: 21px;
			left: 19px;
			padding: 0;
			@include smooth-transition;
		}
		&-fixed {
			display: block;
			opacity: 0;
			@include smooth-transition;
		}
	}
	&-txt {
		font-family: $font-en;
		@include fts(12,26.25);
		white-space: nowrap;
		position: absolute;
		top: 50%;
		left: -60%;
		transform: rotate(90deg) translateY(-50%);
		letter-spacing: 0.08em;
		font-weight: 500;
		@include mq(ipd) {
			display: none;
		}
	}
	&-nav{
		margin: 0 -2px 0 auto;
		@include mq(ipd){
			position: fixed;
			top: 50px;
			left: 0;
			right: 0;
			height: calc(100vh - 50px);
			padding: 60px 20px 0;
			overflow-y: scroll;
			pointer-events: none;
			opacity: 0;
			@include smooth-transition;
			background: white;
			&.active{
				pointer-events: auto;
				opacity: 1;
			}
		}
	}
	&-menu{
		display: flex;
		@include font-size(16);
		font-weight: 500;
		letter-spacing: 0.1em;
		@include mq(xl) {
			letter-spacing: 0.05em;
		}
		@include mq(ipd){
			display: block;
			text-align: center;
			margin: 0 0 150px;
		}
		.item{
			margin: 0 0 0 41px;
			@include mq(xl) {
				margin: 0 0 0 15px;
			}
			@include mq(ipd) {
				margin: 0 0 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			a {
				&:hover {
					@include mq(md-min) {
						color: $c-brd;
						opacity: 1;
					}
				}
			}
		}
	}
	.mobile-icon {
		display: block;
		width: 23px;
		cursor: pointer;
		z-index: 12;
		margin: 0 auto;
		@include mq(ipd) {
			position: absolute;
			top: 50%;
			right: 15px;
			width: 20px;
			transform: translateY(-50%);
		}
	}
	&-btn {
		@include flex(center, center);
		text-align: center;
		position: fixed;
		bottom: 30px;
		right: 30px;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		font-weight: bold;
		line-height: 1.2;
		background: $c-brd;
		color: white;
		@include mq(sm) {
			width: 100%;
			height: 67px;
			border-radius: 0;
			bottom: 0;
			right: 0;
		}
		.inn {
			padding: 10px 0 0;
			@include mq(sm) {
				padding: 0 0 3px;
			}
			> * {
				display: block;
			}
			.material-symbols-outlined {
				@include mq(sm-min) {
					@include font-size(18);
					margin: 15px 0 0;
				}
				@include mq(sm) {
					position: absolute;
					top: 49%;
					right: 19px;
					transform: translateY(-50%);
				}
			}
		}
		.c-ft {
			&--en {
				@include font-size(26);
				letter-spacing: 0.095em;
				margin: 0 0 2px;
				@include mq {
					@include font-size(23);
					margin: 0 0 1px;
				}
			}
			&--jp {
				@include font-size(10);
				letter-spacing: 0.09em;
			}
		}
	}
}

.is-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
	body {
		-webkit-overflow-scrolling: auto;
	}
}