.txt-orange{
	color: #ee5835;
}
.sec-{
	&ideal{
		padding: 146px 0 120px;
	}
	&vision{
		position: relative;
	}
}
.ideal{
	&__ttl{
		@include fts(50, 50);
		font-weight: bold;
		margin-bottom: 45px;
	}
	&__sttl{
		font-weight: bold;
		@include fts(28, 50);
	}
}
.ideal-vision{
	background: white;
	@include flex(0,0, wrap);
	margin-right: 100px;
	&__left{
		width: 55.6%;
	}
	&__right{
		width: 44.4%;
		@include flex(0, center);
		padding-left: 125px;
	}
	&__ttl{
		@include fts(28, 46);
		font-weight: bold;
	}
}