.sec-mv {
	margin: 130px 0 79px;
	position: relative;
	z-index: 1;
	@include mq {
		margin: 115px 0 50px;
	}
	.inner {
		max-width: 1500px;
		position: relative;
	}
}
.mv {
	&-bg {
		position: absolute;
		z-index: -1;
		top: -130px;
		right: 0;
		width: 33.34%;
		@include mq(sm) {
			width: calc(560/750*100%);
		}
		img {
			display: block;
			width: 100%;
			@include ob;
			@include mq(sm) {
				height: 78.7vw;
			}
		}
	}
	&-ttl {
		position: absolute;
		z-index: 1;
		text-align: center;
		line-height: 1;
		font-weight: bold;
		bottom: 60px;
		left: -4px;
		@include mq(sm) {
			position: inherit;
			bottom: auto;
			left: auto;
		}
		* {
			display: block;
		}
		.c-ft--en {
			.lg {
				@include font-size(114);
				letter-spacing: 0.09em;
				@include mq(xl) {
					@include font-size(91.5);
				}
				@include mq {
					@include font-size(69);
				}
			}
			.sm {
				@include font-size(60);
				letter-spacing: 0.09em;
				margin: 3px 0 29px;
				@include mq(xl) {
					@include font-size(48);
				}
				@include mq {
					@include font-size(36);
					margin: -3px 0 9px;
				}
			}
		}
		.jp {
			@include font-size(24);
			letter-spacing: 0.18em;
			@include mq(xl) {
				@include font-size(19.5);
			}
			@include mq {
				@include font-size(15);
			}
		}
	}
	
	&-r {
		width: calc(77% + ((100vw - 100% - 100px) / 2));
		margin-left: auto;
		margin-right: calc((100% - 100vw + 100px) / 2);
		overflow: hidden;
		@include mq(ipd) {
			width: calc(77% + ((100vw - 100%) / 2));
			margin-left: auto;
			margin-right: calc((100% - 100vw) / 2);
		}
		@include mq(sm) {
			width: 100vw;
			margin: 0 0 32px;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&-slider {
		width: 100%;
		.item {
			padding: 0;
			@include flex(start, end);
			height: 100%;
			@include mq(sm) {
				padding: 0 54px 0 0;
			}
			.img {
				width: 65.1%;
				height: 100%;
				overflow: hidden;
				@include mq(sm) {
					width: 79.675%;
				}
				img {
					display: block;
					width: 100%;
					height: 100%;
					@include ob;
				}
			}
			&.swiper-slide {
				&-next {
					.img {
						transform: translateX(-46.3%) scale(0.605);
						transform-origin: left bottom;
						opacity: 1;
						animation: slide-ani-next 1.5s ease 0s 1 alternate;
						animation-fill-mode: forwards;
						@include mq(sm) {
							transform: scale(0.605);
							animation: slide-ani-next2 1.5s ease 0s 1 alternate;
						}
						img {
							transform: scale(1.4);
							opacity: 0;
							animation: slide-ani-next-slide 1.5s ease 0s 1 alternate;
							animation-fill-mode: forwards;
						}
					}
				}
				&-active {
					.img {
						transform: scale(0.605);
						animation: slide-ani-active 1.5s ease 0s 1 alternate;
						animation-fill-mode: forwards;
						img {
							transform: scale(1.4);
							animation: slide-ani-active-slide 1.5s ease 0s 1 alternate;
							animation-fill-mode: forwards;
						}
					}
				}
			}
		}
		.swiper-pagination {
			@include flex(end, stretch, wrap);
			position: relative;
			bottom: auto;
			padding: 16px 30px 0;
			max-width: 839px;
			@include mq {
				padding: 13px 16px 0;
			}
			.swiper-pagination-bullet {
				margin: 0 0 0 4px;
				background: #eee;
				padding: 0;
				width: 30px;
				height: 5px;
				border-radius: 0;
				opacity: 1;
				@include mq {
					width: 35px;
					height: 3px;
				}
				&:before {
					display: none;
				}
				&-active {
					background: #7e92a4;
				}
			}
		}
	}
}
@keyframes slide-ani-active {
	0%{
		transform: scale(0.605);
		opacity:0
	}
	100% {
		transform: scale(1);
		opacity:1
	}
}
@keyframes slide-ani-active-slide {
	0% {
		transform: scale(1.4);
		opacity:0
	}
	100% {
		transform: scale(1);
		opacity:1
	}
}
@keyframes slide-ani-next {
	0% {
		transform: translateX(-46.3%) scale(1);
		opacity:0
	}
	100% {
		transform: translateX(-46.3%) scale(0.605);
		opacity:1
	}
}
@keyframes slide-ani-next2 {
	0% {
		transform: scale(1);
		opacity:0
	}
	100% {
		transform: scale(0.605);
		opacity:1
	}
}
@keyframes slide-ani-next-slide {
	0% {
		transform: scale(1.4);
		opacity:0
	}
	100% {
		transform: scale(1);
		opacity:1
	}
}

.sec-about {
	position: relative;
	z-index: 1;
	background: url("../img/index/about-bg.jpg") no-repeat;
	background-size: cover;
	padding: 125px 0 278px;
	@include mq {
		padding: 50px 0 150px;
	}
	.inner {
		@include flex(between, start, wrap);
	}
}
.about {
	&-l {
		width: 50%;
		padding: 4px 15px 0 0;
		@include mq {
			width: 100%;
			padding: 0;
			text-align: center;
			.c-ttl__01 {
				justify-content: center;
				padding-right: 35px;
			}
		}
	}
	&-txt {
		@include fts(60,80);
		font-weight: bold;
		@include mq(xl) {
			@include font-size(40);
		}
		@include mq {
			@include font-size(30);
		}
		.sm {
			@include font-size(50);
			@include mq(xl) {
				@include font-size(30);
			}
			@include mq {
				@include font-size(20);
			}
		}
		.line {
			text-decoration: underline;
		}
	}
	&-r {
		width: 50%;
		@include mq {
			width: 100%;
			text-align: center;
		}
		.c-txt__basic02 {
			margin-bottom: 111px;
			@include mq {
				margin-bottom: 50px;
			}
		}
	}
	&-btn {
		@include mq {
			@include flex(center, center);
		}
	}
	&-img {
		position: absolute;
		&--l {
			width: 42.85%;
			bottom: -137px;
			@include mq(xl) {
				bottom: -10%;
			}
			@include mq {
				bottom: -50px;
				width: 180px;
			}
		}
		&--r {
			width: 22.65%;
			right: 5.27%;
			bottom: -213px;
			@include mq(xl) {
				bottom: -15%;
			}
			@include mq {
				bottom: -50px;
				width: 100px;
			}
		}
	}
}

.sec-charm {
	padding: 309px 0 136px;
	@include mq(xl) {
		padding: 250px 0 100px;
	}
	@include mq {
		padding: 90px 0 50px;
	}
}
.charm {
	&-f {
		@include flex(start, start, wrap);
		margin: 0 0 70px;
		@include mq {
			margin: 0 0 30px;
		}
	}
	&-l {
		width: 53.35%;
		padding: 14px 15px 0 0;
		@include mq {
			width: 100%;
			padding: 0;
		}
	}
	&-r {
		margin-left: auto;
		width: 46.65%;
		@include mq {
			width: 100%;
		}
	}
	&-highlight {
		@include fts(34,52);
		font-weight: bold;
		margin: 0 0 22px;
		@include mq(xl) {
			@include font-size(29);
		}
		@include mq {
			@include font-size(22);
		}
		@include mq(xs) {
			@include font-size(20);
		}
	}
	&-list {
		@include flex(between, stretch, wrap);
		margin: 0 0 26px;
		&__item {
			width: 31.67%;
			@include mq(sm) {
				width: 49%;
				&:nth-child(even) {
					margin-top: 30px;
				}
			}
			&:nth-child(3n+1) {
				@include mq(sm-min) {
					margin-top: 26px;
				}
			}
			&:nth-child(3n+2) {
				@include mq(sm-min) {
					margin-top: 111px;
				}
			}
		}
		&__link {
			display: block;
			position: relative;
			overflow: hidden;
			z-index: 1;
			&:hover {
				opacity: 1;
				&:after {
					opacity: 0;
				}
			}
			&:before {
				display: block;
				content: '';
				padding-bottom: calc(560/380*100%);
			}
			&:after {
				position: absolute;
				content: '';
				background: black;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.6;
				@include smooth-transition;
			}
		}
		&__img {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img {
				display: block;
				width: 100%;
				height: 100%;
				@include ob;
			}
		}
		&__txt {
			@include flex(start, start);
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			text-align: center;
			.c-bg--brd {
				@include fts(34,52);
				font-weight: bold;
				writing-mode: vertical-rl;
				text-orientation: mixed;
				padding: 11px 2px 14px 2px;
				letter-spacing: 0.1em;
				@include mq(xl) {
					@include font-size(27);
				}
				@include mq {
					@include font-size(20);
					letter-spacing: 0;
				}
				@include mq(xs) {
					@include font-size(18);
				}
			}
			.sm {
				@include font-size(15);
				background: black;
				color: white;
				writing-mode: vertical-rl;
				text-orientation: mixed;
				padding: 13px 6px 12px 6px;
				letter-spacing: 0.1em;
				@include mq {
					@include font-size(13);
					letter-spacing: 0;
				}
				@include mq(xs) {
					@include font-size(11);
				}
			}
		}
		&__ttl {
			position: absolute;
			z-index: 1;
			@include v-h-align;
			font-weight: bold;
			color: white;
			@include font-size(24);
			text-align: center;
			@include flex();
			letter-spacing: 0.1em;
			padding: 16px 0 0;
			@include mq(xl) {
				@include font-size(21);
			}
			@include mq {
				@include font-size(18);
				letter-spacing: 0;
			}
			@include mq(xs) {
				@include font-size(15);
			}
			> * {
				writing-mode: vertical-rl;
				text-orientation: mixed;
			}
		}
	}
}

.sec-live-t {
	padding: 0 0 170px;
	@include mq {
		padding: 0 0 50px;
	}
	.inner {
		@include flex(between, center, wrap);
		flex-direction: row-reverse;
		@include mq(lp) {
			align-items: flex-start;
		}
	}
}
.live {
	&-cnt {
		width: 57.5%;
		max-width: 616px;
		padding: 0 0 9px 15px;
		@include mq(lp) {
			align-items: flex-start;
			padding: 30px 0 30px 15px;
		}
		@include mq(sm) {
			width: 100%;
			padding: 0 0 30px;
		}
	}
	&-img-t {
		width: calc(42.5% + ((100vw - 100px - 100%) / 2));
		margin-left: calc((100% - 100vw + 100px) / 2);
		@include mq(ipd) {
			width: calc(42.5% + ((100vw - 100%) / 2));
			margin-left: calc((100% - 100vw) / 2);
		}
		@include mq(sm) {
			width: 10%;
		}
		img {
			display: block;
			width: 100%;
			height: 100%;
			@include ob;
			object-position: top right;
		}
	}
}


.sec-future {
	padding: 99px 0 83px;
	background: url("../img/index/future-bg.jpg") no-repeat;
	background-size: cover;
	@include mq {
		padding: 50px 0 20px;
		.c-ttl__01 {
			justify-content: center;
			padding-right: 35px;
		}
	}
}
.future {
	&-list {
		@include flex(between, stretch, wrap);
		text-align: center;
		margin: 0 0 34px;
		@include mq {
			margin-bottom: 15px;
		}
		&__item {
			width: 24.2%;
			background: white;
			padding: 49px 10px 41px;
			margin-bottom: 15px;
			@include mq {
				width: 48%;
				padding: 15px 10px;
			}
		}
		&__ico {
			height: 117px;
			@include flex(center, center);
			margin: 0 0 36px;
		}
		&__ttl {
			font-weight: bold;
			* {
				display: block;
			}
			.jp {
				@include font-size(18);
				margin: 0 0 3px;
				@include mq {
					@include font-size(16);
				}
			}
			.c-ft--en {
				@include font-size(13);
				color: #7e92a4;
				@include mq {
					@include font-size(11);
				}
			}
		}
	}
	&-f {
		@include flex(start, start, wrap);
		margin: 0 0 18px;
		.c-ttl__04 {
			width: 32.6%;
			@include mq {
				width: 100%;
				margin-bottom: 15px;
			}
		}
		.c-txt__basic {
			width: 67.4%;
			padding: 3px 0 0 15px;
			@include mq {
				width: 100%;
				padding: 0;
			}
		}
	}
	&-list02 {
		@include flex(between, stretch, wrap);
		&__item {
			width: 32%;
			max-width: 350px;
			border-bottom: 2px solid black;
			padding: 0 0 29px;
			margin: 0 0 62px;
			@include mq {
				padding: 0 0 15px;
				margin: 0 0 30px;
			}
			.c-txt__basic {
				margin: 0 0 8px;
				@include mq {
					margin: 0 0 15px;
				}
				@include mq(xs) {
					@include font-size(11);
				}
			}
		}
		&__txt {
			@include font-size(26);
			line-height: calc(80/90);
			@include mq(xl) {
				@include font-size(20);
			}
			@include mq {
				@include font-size(16);
			}
			@include mq(sm) {
				font-size: 3.5vw;
			}
			.number {
				@include font-size(90);
				@include mq(xl) {
					@include font-size(60);
				}
				@include mq {
					@include font-size(40)
				}
				@include mq(sm) {
					font-size: 6.5vw;
				}
			}
		}
	}
}

.sec-career-t {
	padding: 115px 0 51px;
	@include mq {
		padding: 50px 0 35px;
		.c-ttl__01 {
			justify-content: center;
			padding-right: 35px;
		}
	}
}
.career {
	&-f {
		@include flex(start, start, wrap);
		margin: 0 0 52px;
		@include mq {
			text-align: center;
		}
		.c-ttl__02 {
			width: 49.7%;
			padding: 0 15px 0 0;
			@include mq {
				width: 100%;
				padding: 0;
			}
		}
	}
	&-r {
		width: 50.3%;
		padding: 10px 0 0 0;
		@include mq {
			width: 100%;
			padding: 0;
		}
	}
	&-list {
		@include flex(between, stretch, wrap);
		margin-bottom: 40px;
		&__item {
			width: 24.2%;
			margin-bottom: 73px;
			@include mq {
				margin-bottom: 15px;
			}
			@include mq(sm) {
				margin-bottom: 0;
				width: 48%;
			}
			&:nth-child(even) {
				padding-top: 36px;
				@include mq {
					padding-top: 30px;
				}
			}
		}
		&__link {
			display: block;
			&:hover {
				opacity: 1;
				.career-list {
					&__img {
						&:after {
							opacity: 0.7;
						}
					}
					&__cnt {
						opacity: 1;
					}
				}
			}
		}
		&__box {
			position: relative;
			z-index: 1;
		}
		&__img {
			position: relative;
			overflow: hidden;
			&:before {
				display: block;
				content: '';
				padding-bottom: calc(780/580*100%);
			}
			&:after {
				position: absolute;
				content: '';
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 0;
				@include smooth-transition;
				background: #7e92a4;
			}
			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include ob;
			}
		}
		&__cnt {
			position: absolute;
			@include v-h-align;
			text-align: center;
			color: white;
			padding: 0 10px 40px;
			opacity: 0;
			@include smooth-transition;
		}
		&__tag {
			font-family: $font-en;
			@include font-size(13);
			margin-bottom: 15px;
			@include mq {
				@include font-size(11);
			}
		}
		&__txt {
			@include fts(24,32);
			font-weight: bold;
			white-space: nowrap;
			@include mq(xl) {
				@include font-size(20);
			}
			@include mq {
				@include font-size(16);
			}
		}
		&__ttl {
			position: relative;
			z-index: 2;
			line-height: 1;
			padding: 0 11px;
			margin: -17px 0 0;
			@include mq {
				padding: 0 5px;
				margin: -10px 0 0;
			}
			* {
				display: block;
			}
			.c-ft--en {
				@include font-size(30);
				font-weight: bold;
				letter-spacing: 0.1em;
				margin: 0 0 4px;
				@include mq(xl) {
					@include font-size(25);
				}
				@include mq {
					@include font-size(20);
				}
			}
			.jp {
				@include font-size(13);
				font-weight: 500;
				@include mq {
					@include font-size(11);
				}
			}
		}
	}
	&-bnr {
		width: calc(100vw - 100px);
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin: 0 0 56px;
		@include mq(ipd) {
			width: 100vw;
		}
		@include mq {
			margin: 0 0 30px;
		}
	}
}
