.sec-live-intro{
	padding-bottom: 110px;
	@include mq(ipd){
		padding-bottom: 80px;
	}
	@include mq(){
		padding-bottom: 50px;
	}
}

.live-intro{
	&__logo{
		max-width: 548px;
		width: 100%;
		margin: 0 auto 140px;
		@include mq(ipd){
			margin-bottom: 50px;
		}
		@include mq(){
			max-width: 305px;
			margin-bottom: 30px;
		}
	}
	&__flex{
		@include flex(0, 0, wrap);
	}
	&__ttl{
		margin-bottom: 50px;
		width: 50%;
		padding-right: 20px;
		@include mq(){
			width: 100%;
			margin-bottom: 30px;
			padding-right: 0;
		}
		span{
			display: block;
			@include font-size(60);
			font-weight: bold;
			line-height: 1.3;
			letter-spacing: 3px;
			margin-bottom: 62px;
			@include mq(xl){
				@include font-size(50);
			}
			@include mq(ipd){
				@include font-size(42);
				margin-bottom: 40px;
			}
			@include mq(){
				@include font-size(28);
				margin-bottom: 15px;
				letter-spacing: 1px;
			}
			strong{
				color: #ee5835;
				text-decoration: underline;
				letter-spacing: 6px;
			}
		}
		small{
			display: inline-block;
			background: #000;
			color: #fff;
			padding: 14px 21px 17px;
			@include font-size(32);
			font-weight: bold;
			line-height: 1;
			letter-spacing: 1.5px;
			@include mq(xl){
				@include font-size(26);
			}
			@include mq(ipd){
				@include font-size(18);
				padding: 14px 14px 17px;
			}
		}
	}
	&__info{
		width: 50%;
		@include mq(){
			width: 100%;
		}
		.txt-lead{
			@include font-size(24);
			font-weight: bold;
			line-height: 1.75;
			margin-bottom: 38px;
			@include mq(xl){
				@include font-size(22);
			}
			@include mq(ipd){
				@include font-size(20);
				margin-bottom: 25px;
			}
			@include mq(){
				@include font-size(16);
				line-height: 1.5;
				margin-bottom: 15px;
			}
		}
	}
	&__desc{
		text-align: justify;
		p{
			margin-bottom: 27px;
			@include mq(){
				margin-bottom: 15px;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
}

.sec-live-page{
	padding: 127px 0 160px;
	background: #f8f8f8;
	@include mq(ipd){
		padding: 80px 0;
	}
	@include mq(){
		padding: 50px 0;
	}
}

.live-page{
	@include mq(){
		width: 90%;
		margin: 0 auto;
	}
	&__info{
		width: 50%;
		padding-left: 14.28%;
		padding-right: 4.7%;
		padding-top: 66px;
		@include mq(lp){
			padding-left: 10%;
		}
		@include mq(xl){
			padding-left: 3%;
			padding-right: 3%;
			padding-top: 3%;
		}
		@include mq(){
			width: 100%;
			padding: 0;
			order: 2;
		}
	}
	&__ttl{
		@include font-size(32);
		font-weight: bold;
		line-height: 1.875;
		text-decoration: underline;
		margin-bottom: 30px;
		letter-spacing: 2px;
		padding-right: 15px;
		@include mq(xl){
			@include font-size(28);
			line-height: 1.6;
		}
		@include mq(){
			@include font-size(24);
			line-height: 1.5;
			letter-spacing: 1px;
			margin-bottom: 20px;
			padding-right: 0;
		}
		&-sub{
			@include flex(0, center, wrap);
			padding-bottom: 10px;
			border-bottom: 2px solid;
			margin-bottom: 73px;
			@include mq(xl){
				margin-bottom: 50px;
			}
			@include mq(){
				border-width: 1px;
				margin-bottom: 15px;
				padding-bottom: 5px;
			}
			span{
				@include font-size(26);
				font-weight: bold;
				@include flex(0, center);
				padding-right: 60px;
				position: relative;
				@include mq(xl){
					@include font-size(20);
				}
				@include mq(){
					padding-right: 30px;
				}
				@include p-after(35px, 1px){
					background: #dddddd;
					top: 50%;
					right: 13px;
				}
				@include mq(){
					@include p-after(20px, 1px){
						right: 4px;
					}
				}
				strong{
					@include font-size(20);
					font-family: $font-en;
					margin-right: 22px;
					@include mq(xl){
						@include font-size(18);
						margin-right: 10px;
					}
				}
			}
			small{
				@include font-size(18);
				font-weight: bold;
				color: #7e92a4;
				@include mq(xl){
					@include font-size(16);
				}
				@include mq(){
					@include font-size(14);
				}
			}
		}
	}
	&__desc{
		p{
			margin-bottom: 25px;
			@include mq(){
				margin-bottom: 15px;
			}
			&:last-of-type{
				margin-bottom: 0;
			}
		}
	}
	&__img{
		width: 50%;
		@include mq(){
			width: 100%;
			order: 1;
			margin-bottom: 30px;
		}
		&--list{
			@include flex();
			margin: 0 -8.5px;
			@include mq(sm){
				margin: 0;
				display: block;
			}
			.img{
				width: 33.33%;
				padding: 0 8.5px;
				@include mq(sm){
					width: 100%;
					padding: 0;
					margin-bottom: 15px;
				}
			}
		}
	}
	&__block{
		@include flex(0, 0, wrap);
		margin-bottom: 205px;
		@include mq(xl){
			margin-bottom: 100px;
		}
		@include mq(){
			margin-bottom: 50px;
		}
		&:nth-child(even){
			.live-page{
				&__img{
					order: 1;
				}
				&__info{
					order: 2;
					padding-left: 4.7%;
					padding-right: 14.28%;
					@include mq(lp){
						padding-right: 10%;
					}
					@include mq(xl){
						padding-left: 3%;
						padding-right: 3%;
					}
					@include mq(){
						padding: 0;
					}
				}
			}
		}
		&:last-of-type{
			margin-bottom: 0;
		}
		&--full{
			max-width: 1200px;
			width: 90%;
			margin: 0 auto 205px;
			@include mq(xl){
				margin-bottom: 100px;
			}
			@include mq(){
				margin-bottom: 50px;
				width: 100%;
			}
			.live-page{
				&__img{
					width: calc(100% + 8.5px*2);
					@include mq(){
						margin-bottom: 30px;
					}
					@include mq(sm){
						max-width: 350px;
						width: 100%;
						margin: 0 auto;
					}
				}
				&__info{
					width: 100%;
					padding: 0;
					margin-bottom: 50px;
					@include mq(){
						margin-bottom: 0;
					}
				}
			}
		}
	}
}