.inner {
	display: block;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.sec-mv-page{
	margin-bottom: 210px;
	@include mq(ipd){
		margin-bottom: 100px;
	}
	@include mq(sm){
		margin-bottom: 50px;
	}
}

.mv-page{
	&__img{
		img{
			width: 100%;
			height: 560px;
			@include ob;
			@include mq(){
				height: 300px;
			}
		}
		&-live{
			width: 50%;
			position: absolute;
			right: 0;
			bottom: -60px;
			@include mq(){
				bottom: -30px;
			}
			@include mq(sm){
				display: none;
			}
		}
	}
	&__cnt{
		position: absolute;
		top: 55%;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(-50%);
	}
	&__ttl{
		span, small{
			display: block;
		}
		span{
			@include font-size(80);
			font-weight: 700;
			line-height: 1;
			letter-spacing: 7px;
			@include mq(lp){
				letter-spacing: 3px;
				@include font-size(70);
			}
			@include mq(){
				letter-spacing: 0;
				@include font-size(40);
			}
		}
		small{
			@include font-size(18);
			font-weight: bold;
			@include mq(){
				@include font-size(14);
			}
		}
	}
}

.breadcrumb{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 23px;
	@include font-size(12);
	font-weight: 500;
	span{
		margin-left: 15px;
		@include mq(){
			margin-left: 10px;
		}
	}
	a{
		color: #7e92a4;
		margin-right: 15px;
		@include mq(){
			margin-right: 10px;
		}
	}
}

.js-scale{
	overflow: hidden;
	img{
		transform: scale(1.1);
		transition: transform 1.8s, opacity 1.8s;
		opacity: 0;
	}
	&.active{
		img{
			transform: scale(1);
			opacity: 1;
		}
	}
}

//btn
.btn {
	&-r {
		@include flex(end, 0);
	}
	&-group {
		@include flex(0,0,wrap);
		> * {
			width: 32%;
			max-width: 370px;
			margin-bottom: 30px;
			@include mq(ipd) {
				width: 48%;
				max-width: 100%;
			}
			@include mq {
				margin-bottom: 15px;
			}
			@include mq(sm) {
				width: 100%;
			}
			&:nth-child(3n+2) {
				@include mq(ipd-min) {
					margin-left: auto;
					margin-right: auto;
				}
			}
			&:nth-child(even) {
				margin-left: auto;
			}
		}
	}
}