.secs-privacy{
	margin-top: -68px;
	@include mq{
		margin-top: 0;
	}
}
.box-privacy{
	font-weight: 700;
	margin-bottom: 195px;
	@include mq{
		margin-bottom: 50px;
	}
	& > p{
		margin-bottom: 145px;
		@include mq{
			margin-bottom: 50px;
		}
	}
	.ttl-pr{
		font-family: $font-yugothic;
		font-weight: 700;
		color: #ee5835;
		@include font-size(24);
		letter-spacing: 0.01em;
		line-height: 1.625;
		margin-bottom: 10px;
		@include mq{
			@include font-size(20);
		}
	}
	.txt-pr{
		margin-bottom: 43px;
		line-height: 2;
		@include mq{
			margin-bottom: 20px;
		}
		&:last-child{
			margin-bottom: 0;
		}
		span{
			&:before{
				content: '・';
			}
		}
	}
}