.sec-recruitmain{
	margin-bottom: 178px;
	margin-top: -59px;
	@include mq{
		margin-bottom: 50px;
		margin-top: 0;
	}
}
.list-recruittabs{
	@include flex();
	margin:0 -2px 76px;
	@include mq{
		@include flex(0, 0, wrap);
		margin: 0 -2px 35px;
	}
	.item{
		width: 25%;
		padding: 0 2px;
		@include mq{
			width: 50%;
			margin-bottom: 15px;
		}
		@include mq(sm){
			width: 100%;
		}
		a{
			@include font-size(20);
			font-weight: 700;
			line-height: 1.5;
			letter-spacing: 0.1em;
			padding: 20px 10px;
			border: 1px solid #000000;
			width: 100%;
			text-align: center;
			color: #000000;
			display: inline-block;
			background: #ffffff;
			position: relative;
			@include mq(ipd){
				@include font-size(15);
				padding: 20px 5px;
			}
			@include mq{
				@include font-size(18);
			}
			&:after{
				content: '';
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 10px solid #ee5835;
				position: absolute;
				@include h-align;
				top: 100%;
				display: none;
				
			}
		}
		&.active, &:hover{
			a{
				background: #ee5835;
				border-color:#ee5835;
				color: #ffffff;
				&:after{
					display: block;
				}
			}
		}
	}
}
.bl-recruitct{
	margin-bottom: 155px;
	@include mq{
		margin-bottom: 50px;
	}
	&:last-child{
		margin-bottom: 0;
	}
	 dl{
		 @include flex();
		 @include mq{
			 @include flex(0,0,wrap);
		 }
		 dt{
			 width: 200px;
			 border-bottom: 1px solid #ee5835;
			 padding: 28px 0;
			 text-align: center;
			 @include mq(){
				 width: 100%;
				 text-align: left;
				 padding: 25px 15px;
			 }
		 }
		 dd{
			 width: calc(100% - 200px);
			 padding: 29px 44px 29px 46px;
			 border-top: 1px solid #eeeeee;
			 @include mq(){
				 width: 100%;
				 padding: 25px 0px;
				 border-top: none;
				 border-bottom: 1px solid #eeeeee;
			 }
		 }
		 &:first-child{
			 dt{
				 border-top: 1px solid #ee5835;
			 }
		 }
		 &:last-child{
			 
			 dd{
				 border-bottom: 1px solid #eeeeee;
			 }
		 }
	 }
	.txt-des15{
		@include font-size(15);
		line-height: 2.133;
		@include mq{
			@include font-size(14);
		}
	}
	.list-circle{
		.item{
			position: relative;
			margin-bottom: 4px;
			&:last-child{
				margin-bottom: 0;
			}
			&:before{
				content: '';
				width: 11px;
				height: 11px;
				border-radius: 100%;
				background: #7e92a4;
				margin-right: 5px;
				display: inline-block;
			}
		}
	}
}
.list-address{
	@include flex(0,0,wrap);
	
	.item-addres{
		width:calc(50% - 15px);
		margin-right: 30px;
		position: relative;
		padding-left: 18px;
		margin-bottom: 23px;
		@include font-size(15);
		line-height: 1.666;
		&:last-child, &:nth-last-child(-1){
			@include mq(sm-min){
				margin-bottom: 0;
			}
		}
		@include mq{
			@include font-size(14);
			
		}
		@include mq(sm){
			width: 100%;
			margin-right: 0;
			
		}
		&:before{
			content:'';
			width: 11px;
			height: 14px;
			background: url('../img/recruit/img-maps.png') no-repeat center center;
			background-size: 100%;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 6px;
		}
		&:last-child, &:nth-child(2n){
			margin-right: 0;
		}
		.c-fw--bd{
			@include font-size(16);
			line-height: 1.5625;
			@include mq{
				@include font-size(14);
			}
		}
	}
}
.sec-recruitstep{
	padding: 82px 0 119px;
	background: #f8f8f8;
	margin-bottom: 110px;
	@include mq{
		padding: 50px 0 50px;
		margin-bottom: 50px;
	}
	.c-ttl__05{
		margin-bottom: 81px;
		@include mq{
			margin-bottom: 50px;
		}
	}
}
.list-recruitstep{
	@include flex();
	margin: 0 -10px;
	padding: 0 34px;
	@include mq{
		@include flex(center,0,wrap);
		padding: 0;
		margin: 0 -5px;
	}
	.item{
		width: 20%;
		padding: 0 10px;
		@include mq(){
			width: 33.33%;
			padding: 0 5px;
			margin-bottom: 15px;
		}
		@include mq(sm){
			width: 50%;
			padding: 0 5px;
			margin-bottom: 15px;
		}
		&-w{
			text-align: center;
			.nb{
				display: inline-block;
				position: relative;
				z-index: 2;
			}
			.step{
				@include font-size(15);
				font-weight: 700;
				line-height:1.3;
				display: block;
				@include mq{
					@include font-size(13);
				}
			}
			.number{
				@include font-size(30);
				font-weight: 700;
				letter-spacing: 0.05em;
				line-height: 1.128;
				color: #000000;
				@include mq{
					@include font-size(28);
				}
			}
			.img{
				margin-top: -25px;
				margin-bottom: 25px;
				img{
					width: 158px;
					max-width: 100%;
				}
			}
			.txt{
				@include font-size(15);
				font-weight: 500;
				line-height: 1.6;
				letter-spacing: 0.1em;
				@include mq{
					@include font-size(12);
				}
			}
		}
	}
}
.bl-linkbtn{
	margin-bottom: 113px;
	text-align: center;
	@include mq{
		margin-bottom: 50px;
	}
}