<footer id="footer" class="footer">
	<div class="footer-btn">
		<a href="" class="c-btn__01">
			<span class="inn">
				<span class="c-ft--en">JOB DISCRIPUTION</span>
				<span class="c-ft--jp">募集要項はこちら</span>
				<span class="material-symbols-outlined">arrow_forward</span>
			</span>
		</a>
		<a href="" class="c-btn__01 c-btn__01--brd">
			<span class="inn">
				<span class="c-ft--en">ENTRY</span>
				<span class="c-ft--jp">AInoaで活躍しよう</span>
				<span class="material-symbols-outlined">arrow_forward</span>
			</span>
		</a>
	</div>
	<div class="inner">
		<a href="/" class="footer-logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo-f.png" width="208" alt="Ainoa">
		</a>
		<div class="footer-f">
			<p class="footer-add">
				〒113-0033 東京都文京区本郷1-15-2
			</p>
			<div class="footer-r">
				<a href="" class="footer-link">オフィシャルサイトはこちら</a>
				<p class="copyright">
					&copy;AInoa ALL RIGHTS RESERVED.
				</p>
			</div>
		</div>
	</div>
</footer>