<header id="header" class="header">
	<div class="inner">
		<a href="/" class="header-logo">
			<span class="pc-ipd"><img src="<%= RELATIVE_PATH %>img/common/logo.png" width="208" alt="Ainoa"></span>
			<span class="sp-ipd"><img src="<%= RELATIVE_PATH %>img/common/logo-sp.png" width="133" alt="Ainoa"></span>
		</a>
		<nav class="header-nav">
			<ul class="header-menu">
				<li class="item">
					<a href="">AInoaについて</a>
				</li>
				<li class="item">
					<a href="">AInoaの魅力</a>
				</li>
				<li class="item">
					<a href="">実況中継</a>
				</li>
				<li class="item">
					<a href="">インタビュー</a>
				</li>
				<li class="item">
					<a href="">将来への道</a>
				</li>
				<li class="item">
					<a href="">募集要項</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header-l">
		<span class="mobile-icon">
			<img src="<%= RELATIVE_PATH %>img/common/control-ico.png" alt="mobile-icon">
		</span>
		<a href="/" class="header-logo-fixed sp-ipd">
			<img src="<%= RELATIVE_PATH %>img/common/logo-fixed.png" width="70" alt="Ainoa">
		</a>
		<p class="header-txt">
			AInoa RECRUITING SITE 2023
		</p>
	</div>
	
	<a href="" class="header-btn">
		<span class="inn">
			<span class="c-ft--en">ENTRY</span>
			<span class="c-ft--jp">AInoaで活躍しよう</span>
			<span class="material-symbols-outlined">arrow_forward</span>
		</span>
	</a>
</header>