<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="AInoaについて ABOUT US">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>AInoaについて</small>
					<span class="c-ft--en">ABOUT US</span>
				</h1>
			</div>
		</div>
		<div class="mv-page__img-live">
			<img src="<%= RELATIVE_PATH %>img/about/mv-about.jpg" alt="AInoaについて ABOUT US">
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-produce">

		<div class="salon-produce">
			<div class="inner">
				<div class="salon-produce__logo">
					<img src="<%= RELATIVE_PATH %>img/about/logo-produce.png" alt="AInoaについて ABOUT US">
				</div>
				<h2 class="c-ttl__03">
				<span>
					美容師<small>の、</small><br><strong>「働き方改革」</strong>始動。
				</span>
					<small>AInoaは美容師の未来をサポートするサロンブランドです。</small>
				</h2>
			</div>
			<div class="salon-produce__img js-scale">
				<img src="<%= RELATIVE_PATH %>img/about/img-produce-01.jpg" alt="美容師の、「働き方改革」始動。">
			</div>
			<div class="inner">
				<div class="salon-produce__cnt">
					<div class="salon-produce__info">
						<h2 class="c-ttl__03 c-ttl__03--style02">
							<span>美容師<small>が</small>本当<small>に</small><br><strong>活躍できる環境</strong><small>とは？</small></span>
							<small><strong>顧客にじっくり向き合える</strong><br><strong>そんなサロンワークを手に入れる</strong></small>
						</h2>
						<div class="salon-produce__info-desc">
							<p>
								令和になり、美容師の働き方が見直されている。<br>
								独立、業務委託、面貸し。<br>
								様々な働き方の選択肢があり、どれが正しいかわからない。
							</p>
							<p>
								でも原点を考えてみよう。
							</p>
							<p>
								美容師として活躍するためには、自分の顧客を持つことだ。<br>
								それは独立、業務委託、面貸しでも、プレイヤーでも変わらない。
							</p>
							<p>
								自分のサロンワークを振り返ってみよう。<br>
								しっかりとお客様と向き合ってサロンワークに集中できただろうか。<br>
								顧客に対して、信頼関係を創り、サービスをしっかり提供できていただろうか。
							</p>
							<p>
								これからの美容師人生、自分を応援してくれる顧客を多く掴むことが大切だ。
							</p>
							<p>
								私たちは、顧客にじっくり向き合える環境を創り、<br>
								一人ひとりのデザイナーが生涯顧客を多く掴めるようにサポートしていきます。
							</p>
						</div>
					</div>
					<div class="salon-produce__ttl">
						<img src="<%= RELATIVE_PATH %>img/about/ttl-ainoa-01.png" alt="AInoaについて ABOUT US">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-location">
		<div class="inner salon-location">
			<div class="salon-location__flex">
				<div class="salon-location__img"><img src="<%= RELATIVE_PATH %>img/about/map.png" alt="都市部で活躍する 選べる勤務地が魅力。"></div>
				<div class="salon-location__cnt">
					<h2 class="c-ttl__03 c-ttl__03--style03">
						<span>都市部で活躍する<br><strong>選べる勤務地</strong>が魅力。</span>
						<small>東京都・神奈川県<br class="pc">全10店舗展開のフランチャイズサロン。</small>
					</h2>
					<div class="salon-location__desc c-txt__basic">
						<p>
							東京都内、神奈川横浜へサロン展開するAInoa。<br>
							デザイン技術を学ぶ、自分のライフワークの拠点を都市部で考えたい方に魅力です。働きたい店舗を選び、顧客をしっかり掴める環境を手に入れよう。
						</p>
					</div>
				</div>
			</div>
			<ul class="salon-location__gallery">
				<li class="item">
					<div class="js-scale">
						<img src="<%= RELATIVE_PATH %>img/about/img-location-01.jpg" alt="都市部で活躍する 選べる勤務地が魅力。">
					</div>
				</li>
				<li class="item">
					<div class="js-scale">
						<img src="<%= RELATIVE_PATH %>img/about/img-location-02.jpg" alt="都市部で活躍する 選べる勤務地が魅力。">
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-brand">
		<div class="inner salon-brand">
			<div class="salon-brand__flex">
				<div class="salon-brand__img">
					<div class="js-scale">
						<img src="<%= RELATIVE_PATH %>img/about/img-brand-01.jpg" alt="自分の指名客をAInoaブランドで創る">
					</div>
				</div>
				<div class="salon-brand__cnt">
					<div class="salon-brand__wp">
						<h2 class="c-ttl__03 c-ttl__03--style03">
							<span><strong>自分の指名客</strong>を<br>AInoaブランドで創る</span>
							<small>サロンワークに集中できる環境<br class="pc">技術と運営のしっかり分けたシステム。</small>
						</h2>
						<div class="salon-location__desc c-txt__basic">
							<p>
								一人ひとりがサロンワークに集中して、顧客と向き合える。<br>
								ビューティーサービスを提案し、お客様のライフスタイルに沿った施術ができる醍醐味。そのために私たちは、サービスとマネジメントを限りなく分離した働き方を行っています。<br>
								フランチャイズ本部が、サロンマネジメントにおける裏方の仕事をマニュアル化し、デザイナーが指名顧客をしっかり獲得できるような体制を整えています。
							</p>
						</div>
					</div>
					<div class="salon-brand__sign">
						<span>NEW NORMAL<br>SALON WORK</span>
						<small>MANAGEMENT by Alnoa</small>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-environment">
		<div class="inner salon-environment">
			<div class="salon-environment__top">
				<h2 class="c-ttl__03 c-ttl__03--style03">
					<span>仕事はバランス。<br><strong>働きやすい</strong>と思える<br>環境が大事。</span>
					<small>働く時間が長く、休みがない。<br>そんな古い慣習を変えて、<br class="sp-sm">自由な働き方。</small>
				</h2>
				<div class="salon-environment__top-cnt c-txt__basic">
					<p>
						どんな仕事もバランスが大事。<br>
						特に、ブラック企業の代名詞となるのが美容業界。<br>
						今は令和。そんな働き方はダサいじゃない？
					</p>
					<p>
						働き方改革が推進されている今、美容師もオンオフのメリハリがある環境が大事です。AInoaでは、古い慣習である、就業時間の長さや休みが少ない、抜本的に改革し、美容師が働きやすい環境を推進している。<br>
						もちろん時間や休みがしっかりとれるというのがウリじゃない。<br>
						大事なのは、やる時はやり、休む時は休む。
					</p>
					<p><a href="">「生産性」だ。</a></p>
					<p>
						自分の顧客をしっかり担当し、高単価なサービスで生産性を上げていく。<br>
						AInoaならそれができる。<br>
						効率的に稼ぎ、環境を選べられることが魅力の一つだ。
					</p>
				</div>
			</div>
			<div class="salon-environment__main">
				<h3 class="salon-environment__ttl"><span>AInoaフランチャイズサロンの特徴 </span></h3>
				<ul class="salon-environment__list">
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-01.png" alt="フレキシブルな勤務地">
							</div>
							<div class="item__txt">フレキシブルな勤務地</div>
						</div>
					</li>
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-02.png" alt="稼げる！指名顧客獲得">
							</div>
							<div class="item__txt">稼げる！指名顧客獲得</div>
						</div>
					</li>
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-03.png" alt="柔軟なキャリアチェンジ">
							</div>
							<div class="item__txt">柔軟な<br>キャリアチェンジ</div>
						</div>
					</li>
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-04.png" alt="3名/日だけ 担当">
							</div>
							<div class="item__txt">3名/日だけ 担当</div>
						</div>
					</li>
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-05.png" alt="営業時間が短い">
							</div>
							<div class="item__txt">営業時間が短い</div>
						</div>
					</li>
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-06.png" alt="産休復帰OK">
							</div>
							<div class="item__txt">産休復帰OK</div>
						</div>
					</li>
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-07.png" alt="顧客ファースト主義">
							</div>
							<div class="item__txt">顧客ファースト主義</div>
						</div>
					</li>
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-08.png" alt="チームワーク抜群">
							</div>
							<div class="item__txt">チームワーク抜群</div>
						</div>
					</li>
					<li class="item">
						<div class="item__wp">
							<div class="item__icn">
								<img src="<%= RELATIVE_PATH %>img/about/ico-09.png" alt="自分のお店が持てる">
							</div>
							<div class="item__txt">自分のお店が持てる</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
</main>