<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="プレイヤー型 PLAYER TYPE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>プレイヤー型</small>
					<span class="c-ft--en">PLAYER TYPE</span>
				</h1>
			</div>
		</div>
		<div class="mv-page__img-live js-scale">
			<img src="<%= RELATIVE_PATH %>img/charm/player/mv.jpg" alt="プレイヤー型 PLAYER TYPE">
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-career">
		<div class="inner">
			<h2 class="career-heading">
				<span>スター美容師になる</span>
			</h2>
			<div class="career-flex">
				<div class="career-box">
					<span class="career-title c-ft--en">PLAYER</span>
					<div class="career-img js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/player/img-01.jpg" alt="AInoa Codino 金町店">
					</div>
					<h3 class="career-name">
						AInoa Codino <b>金町店</b><span>AInoa歴2年</span>
					</h3>
					<p class="career-txt">
						東京都内のサロンでスタイリストを務め、面貸し、業務委託でサロンワークを経験。その後、某サロンで就業し、AInoaに入店。自分の指名顧客を掴み、スター美容師として活躍中。
					</p>
				</div>
				<div class="career-ct">
					<h3 class="career-ttl">
						生涯美容師。
					</h3>
					<h4 class="career-desc">
						AInoaは、稼ぐ力を与えてくれる<br>
						「自分の魅力」で活躍できる場所
					</h4>
					<p class="career-txt">
						売れるためには、自分自身のブランディングが必要。<br>
						技術や接客、そして発信力。それらに集中し、自分の顧客にサロンサービスを提供できる環境が一番大切と思います。自分の頑張りが収入に反映し、稼げる美容師としてAInoaは応援します。
					</p>
					<div class="career-thumb js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/player/img-02.jpg" alt="自分だけのクリエイティブチーム">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="sec-live">
		<div class="inner">
			<h2 class="live-heading">
				<span class="c-ft--en">
					PASSION<br>WITH MY DREAM
				</span>
				スタープレイヤーになる。
				<small>サロンワークで叶える自己実現</small>
			</h2>
			<p class="live-txt">
				美容師として自分の顧客の多さは、自分への評価の証です。<br>
				昨今の時代、スタープレイヤーを目指すためには、セルフブランディングが大切です。<br>
				AInoaは、サロンで活躍できるようにプロデュースを行います。
			</p>
			<h3 class="live-title">
				６つの魅力
				<span class="c-ft--en">SIX VALUE</span>
			</h3>
			<ul class="live-list">
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>指名顧客獲得</span>
							<small>やりがい</small>
						</div>
						<div class="live-img">
							<img width="86" src="<%= RELATIVE_PATH %>img/charm/career/icon-01.png" alt="一人の顧客に集中自分の魅力をアピール。">
						</div>
						<h3 class="live-ttl">
							一人の顧客に<span>集中</span><br>
							自分の魅力をアピール。
						</h3>
						<p>
							AInoaは、自分のお客様にしっかりと時間をかけてサービスができるが特徴。だからしっかり信頼関係が築けて、指名顧客を着実に増やせるようになります。自分の魅力をしっかりアピールできる環境です。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>高単価接客</span>
							<small>収入</small>
						</div>
						<div class="live-img">
							<img width="120" src="<%= RELATIVE_PATH %>img/charm/career/icon-02.png" alt="面貸し、業務委託よりも意外に稼げる？！">
						</div>
						<h3 class="live-ttl">
							面貸し、業務委託よりも<br>
							意外に<span>稼げる</span>？！
						</h3>
						<p>
							完全歩合は、お客様を獲得するまでが大変。なかなか収入が安定しないままサロンワークに集中するのが難しい。AInoaは、一人の顧客に集中して高単価でサービスをするので、どんどん稼げる仕組みです。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>クリエイティブ集団</span>
							<small>仲間</small>
						</div>
						<div class="live-img">
							<img width="88" src="<%= RELATIVE_PATH %>img/charm/career/icon-03.png" alt="チームワークで切磋琢磨する環境。">
						</div>
						<h3 class="live-ttl">
							<span>チームワーク</span>で<br>
							切磋琢磨する環境。
						</h3>
						<p>
							一人ひとりがモチベーション高く、様々なお客様を担当しているため、仕上がりやデザインの共有が行える環境です。クリエイティブなデザイナーとともに働けるのが自身の成長を上げる理由です。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>研修充実</span>
							<small>スキル</small>
						</div>
						<div class="live-img">
							<img width="80" src="<%= RELATIVE_PATH %>img/charm/career/icon-04.png" alt="髪質改善がベースなので、デザイン力が上がる。">
						</div>
						<h3 class="live-ttl">
							髪質改善がベースなので、<br>
							<span>デザイン力</span>が上がる。
						</h3>
						<p>
							私たちは、素材がいいとデザインも良くなるという考え方です。髪質改善のベースを掴み、カット、カラー、パーマのデザイン力を上げ、理想のデザインを創れるように研修教育を行っています。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>交流機会</span>
							<small>コミュニティ</small>
						</div>
						<div class="live-img">
							<img width="87" src="<%= RELATIVE_PATH %>img/charm/career/icon-05.png" alt="サロンコミュニティ勉強会が豊富。">
						</div>
						<h3 class="live-ttl">
							グループサロンとの<br>
							<span>交流</span>が盛ん。
						</h3>
						<p>
							AInoaフランチャイズは、多店舗のグループなので、他店との交流機会があります。他店のサロンワークの状況や教育研修、またコミュニケーションできる場を設け、サロンワークに生かせるようにしています。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>キャリアチェンジ</span>
							<small>自己成長</small>
						</div>
						<div class="live-img">
							<img width="115" src="<%= RELATIVE_PATH %>img/charm/career/icon-06.png" alt="デザイン＆マネジメントキャリアを伸ばせる。">
						</div>
						<h3 class="live-ttl">
							デザイン＆マネジメント<br>
							<span>キャリア</span>を伸ばせる。
						</h3>
						<p>
							デザイン技術だけでなく、将来的にクリエイティブチームを創り、マネジメント側のキャリアチェンジも目指せます。プレイヤーとして働くのもマネジメント側で管理するのもジョブチェンジはいつでも可能です。
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="sec-leader">
		<div class="inner">
			<div class="leader-flex">
				<h2 class="leader-heading">
					プレイヤーとしての<br>
					稼ぎ頭となる
					<span>
						とことんサロンワークを極める。<br>数と量の経験ができる環境。
					</span>
				</h2>
				<p>
					生涯美容師として、売れる美容師を目指し、技術力だけでなく、インスタなどの発信力を養い、サービス、広告発信、集客と様々な経験ができる環境です。<br><br>
					指名顧客を多数獲得し、信頼関係をお客様と築き、プレイヤーとしての最高値を目指していけるように、本部、サロンがバックアップします。<br><br>
					あなたの成功をカタチにするために私たちは応援します。
				</p>
			</div>
		</div>
		<ul class="leader-list">
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/player/slide_01.jpg" alt="店長の経験値。">
				</div>
			</li>
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/player/slide_02.jpg" alt="店長の経験値。">
				</div>
			</li>
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/player/slide_03.jpg" alt="店長の経験値。">
				</div>
			</li>
		</ul>
	</section>
</main>