<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="キャリア型 CAREER TYPE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>キャリア型</small>
					<span class="c-ft--en">CAREER TYPE</span>
				</h1>
			</div>
		</div>
		<div class="mv-page__img-live js-scale">
			<img src="<%= RELATIVE_PATH %>img/charm/career/mv.jpg" alt="キャリア型 CAREER TYPE">
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-career">
		<div class="inner">
			<h2 class="career-heading">
				<span>経営者・リーダーを目指す</span>
			</h2>
			<div class="career-flex">
				<div class="career-box">
					<span class="career-title c-ft--en">CAREER</span>
					<div class="career-img js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/career/img-01.jpg" alt="AInoa Codino 金町店">
					</div>
					<h3 class="career-name">
						AInoa Codino <b>金町店</b><span>オーナー歴3年</span>
					</h3>
					<p class="career-txt">
						東京都のサロンでスタイリストを務め、各AInoa店舗で勤務後ノウハウを積み、開業して3店舗でフランチャイズオーナーとなり、自分のお店を持つことに。フレキシブルなキャリアチェンジができ、充実した美容師人生を送る。
					</p>
				</div>
				<div class="career-ct">
					<h3 class="career-ttl">プレイヤー→経営者。</h3>
					<h4 class="career-desc">
						AInoaは、挑戦できる環境を<br>
						与えてくれるのが魅力。
					</h4>
					<p class="career-txt">
						一つ一つのサロンワークからマネジメントまで、研修が充実しているのがAInoaの魅力。日々のサロンワークで接客をしている自分から、店を持てるようになる選択肢を用意してくれるので、柔軟なキャリアを積め、しっかりと自分の人生を考えていけるようになることができます。
					</p>
					<div class="career-thumb js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/career/img-02.jpg" alt="AInoa Codino 金町店">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="sec-live">
		<div class="inner">
			<h2 class="live-heading">
				<span class="c-ft--en">
					CHANGE<br>FOR MY LIFE
				</span>
				仕事はどこで、誰と働くか。
				<small>自分の環境を自分で変えることの醍醐味</small>
			</h2>
			<p class="live-txt">
				一人ひとりがサロンワークに集中して、顧客と向き合える環境を創る。<br>
				スタッフを守るため、本部と自分が二人三脚でサロン経営を推進していく楽しさがここにある。<br>
				自分の環境を自分で変えることの楽しさを味わおう。
			</p>
			<h3 class="live-title">
				６つの魅力
				<span class="c-ft--en">SIX VALUE</span>
			</h3>
			<ul class="live-list">
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>雇用体制</span>
							<small>やりがい</small>
						</div>
						<div class="live-img">
							<img width="86" src="<%= RELATIVE_PATH %>img/charm/career/icon-01.png" alt="ブラック企業からの脱出。オンオフのバランス環境。">
						</div>
						<h3 class="live-ttl">
							ブラック企業からの脱出。<br>
							オンオフの<span>バランス環境</span>。
						</h3>
						<p>
							昨今のサロンの就労環境は決して良くない。だからこそ、理想の就労環境を目指して自分が創る。やるときやって、休む時休む。雇用も働き方もバランスが大事だ。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>大台百万円</span>
							<small>収入</small>
						</div>
						<div class="live-img">
							<img width="120" src="<%= RELATIVE_PATH %>img/charm/career/icon-02.png" alt="年収が倍増。夢の3桁月収を手に入れる。">
						</div>
						<h3 class="live-ttl">
							年収が倍増。<br>
							<span>夢の3桁月収</span>を手に入れる。
						</h3>
						<p>
							オーナー経営者は、高収入も魅力の一つ。サロンの多店舗展開で自分のビジネスをカタチにし、高収入を獲得できる可能性。AInoaは、プレイヤーから経営者へのキャリアをしっかり応援してくれます。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>チームワーク</span>
							<small>仲間</small>
						</div>
						<div class="live-img">
							<img width="88" src="<%= RELATIVE_PATH %>img/charm/career/icon-03.png" alt="スタッフとともにチームで働く醍醐味。">
						</div>
						<h3 class="live-ttl">
							スタッフとともに<br>
							<span>チーム</span>で働く醍醐味。
						</h3>
						<p>
							スタッフが成長していく喜びやチームで売上を目指せる環境がやりがいに繋がります。求人、教育の大変さがありますが、本部がサポートしてくれるので、サロンマネジメントがしやすいのが魅力です。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>研修充実</span>
							<small>スキル</small>
						</div>
						<div class="live-img">
							<img width="80" src="<%= RELATIVE_PATH %>img/charm/career/icon-04.png" alt="技術だけでなく、経営スキルが自分の自信に。">
						</div>
						<h3 class="live-ttl">
							技術だけでなく、<br>
							<span>経営スキル</span>が自分の自信に。
						</h3>
						<p>
							オーナー経営者は、高収入も魅力の一つ。サロンの多店舗展開で自分のビジネスをカタチにし、高収入を獲得できる可能性。AInoaは、プレイヤーから経営者へのキャリアをしっかり応援してくれます。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>成功事例</span>
							<small>コミュニティ</small>
						</div>
						<div class="live-img">
							<img width="87" src="<%= RELATIVE_PATH %>img/charm/career/icon-05.png" alt="オーナーコミュニティ勉強会が充実。">
						</div>
						<h3 class="live-ttl">
							オーナーコミュニティ<br>
							<span>勉強会</span>が充実。
						</h3>
						<p>
							AInoaフランチャイズは、エリア会議で様々なオーナーとの接点があるので、事例であったり、悩みを共有できるところが魅力です。自分が気づかなかったところを発見できます。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>店舗出店</span>
							<small>自己成長</small>
						</div>
						<div class="live-img">
							<img width="115" src="<%= RELATIVE_PATH %>img/charm/career/icon-06.png" alt="経営のフィールドがキャリアを上げてくれる。">
						</div>
						<h3 class="live-ttl">
							経営のフィールドが<br>
							<span>キャリア</span>を上げてくれる。
						</h3>
						<p>
							サロンワークで経験できなかったことが学べる楽しさ。店舗出店のたびに自分の成長を感じられます。本部とともにサポート体制でキャリアを引き上げてくれる環境に満足しています。
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="sec-leader">
		<div class="inner">
			<div class="leader-flex">
				<h2 class="leader-heading">
					リーダーのキャリア
					<span>
					サロン経営者として、<br>美容師人生を変えるきっかけを手に入れる。
				</span>
				</h2>
				<p>
					リーダーのキャリアは、挑戦しないと手に入れられません。もちろんリスクもあり、失敗が怖いという方もたくさんいます。今までサロンワークだけしてきただけなのに、経営者なんでできるのかと思うのは当然です。<br>
					でも心配する必要はありません。AInoaは、スタッフをグループ全体で応援する体制です。サロンワークから、マネジメント、経営とすべて本部がサポートし、リーダーとして必要なキャリアを一緒に学んでいきます。自分の美容師人生をしっかり本部と考え、新しいフィールドに挑戦していきましょう。
				</p>
			</div>
		</div>
		<ul class="leader-list">
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/career/slide_01.jpg" alt="リーダーのキャリア">
				</div>
			</li>
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/career/slide_02.jpg" alt="リーダーのキャリア">
				</div>
			</li>
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/career/slide_03.jpg" alt="リーダーのキャリア">
				</div>
			</li>
		</ul>
	</section>
</main>