<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="チーム型 TEAM TYPE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>チーム型</small>
					<span class="c-ft--en">TEAM TYPE</span>
				</h1>
			</div>
		</div>
		<div class="mv-page__img-live js-scale">
			<img src="<%= RELATIVE_PATH %>img/charm/team/mv.jpg" alt="チーム型 TEAM TYPE">
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-career">
		<div class="inner">
			<h2 class="career-heading">
				<span>店長候補求ム</span>
			</h2>
			<div class="career-flex">
				<div class="career-box">
					<span class="career-title c-ft--en">PLAYER</span>
					<div class="career-img js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/team/img-01.jpg" alt="AInoa Codino 金町店">
					</div>
					<h3 class="career-name">
						AInoa Codino <b>金町店</b><span>店長歴2年</span>
					</h3>
					<p class="career-txt">
						東京都内のサロンでスタイリストを務め、店長として勤務その後、幅広い店舗マネジメントに携わり、さらなる成長を考え、AInoaに入店。自分のチームを作り、店舗マネージャとして活躍中。
					</p>
				</div>
				<div class="career-ct">
					<h3 class="career-ttl">
						自分だけの<br>
						クリエイティブチーム
					</h3>
					<h4 class="career-desc">
						顧客との信頼関係、サービス提供は、チームワークに懸かっている。
					</h4>
					<p class="career-txt">
						店長とは、サロンの全体を運営管理する責任者。技術力、サービス提供、メニュー開発、広告・集客、チームマネジメントと多岐にわたる業務があり、幅広い。だからこそ成長できる。チーム一丸となってお客様に高い品質のサービスを提供するためAInoaは、運営業務をサポートします。
					</p>
					<div class="career-thumb js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/team/img-02.jpg" alt="自分だけのクリエイティブチーム">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="sec-live">
		<div class="inner">
			<h2 class="live-heading">
				<span class="c-ft--en">
					EMPOWERMENT<br>WITH MY TEAM
				</span>
				サロンビジネスを知る。
				<small>裁量権をもって店舗をマネージメントする</small>
			</h2>
			<p class="live-txt">
				今までプレイヤーだった自分を大きく成長させるため、また今後のキャリアを伸ばしていくため、<br class="pc">AInoaは、サロンビジネスのエッセンスをすべて学べる環境。<br>
				サロンワークも重要だけど、店舗のみんなと活気のある仕事がしたい、そんなあなたを実現します。
			</p>
			<h3 class="live-title">
				６つの魅力
				<span class="c-ft--en">SIX VALUE</span>
			</h3>
			<ul class="live-list">
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>雇用体制</span>
							<small>やりがい</small>
						</div>
						<div class="live-img">
							<img width="86" src="<%= RELATIVE_PATH %>img/charm/career/icon-01.png" alt="運営マニュアルでサポート店長というキャリアを得る。">
						</div>
						<h3 class="live-ttl">
							運営マニュアルでサポート<br>
							<span>店長というキャリア</span>を得る。
						</h3>
						<p>
							AInoaは、運営マニュアルが徹底しているため、そのマニュアルどおりに、店舗の運営を遂行していくことで、店長のキャリアを目指していけます。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>役職給</span>
							<small>収入</small>
						</div>
						<div class="live-img">
							<img width="120" src="<%= RELATIVE_PATH %>img/charm/career/icon-02.png" alt="役職に見合った収入を得る。">
						</div>
						<h3 class="live-ttl">
							役職に見合った<br>
							<span>収入</span>を得る。
						</h3>
						<p>
							店長は、店舗の売上をみんなで作る立場。日々の売上管理からスタッフの人時生産性を考え、役職に見合った収入を得る。<br>
							頑張れば頑張るだけ反映する環境です。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>デザイン集団</span>
							<small>仲間</small>
						</div>
						<div class="live-img">
							<img width="88" src="<%= RELATIVE_PATH %>img/charm/career/icon-03.png" alt="自分のクリエイティブチームが創れる。">
						</div>
						<h3 class="live-ttl">
							自分の<span>クリエイティブチーム</span>が<br>
							創れる。
						</h3>
						<p>
							自分だけのクリエイティブチームを作り、チームワークで顧客にサービスを提供していきます。<br>
							AInoaのコンセプトに沿って、働きやすい環境をサポートします。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>ノウハウ</span>
							<small>スキル</small>
						</div>
						<div class="live-img">
							<img width="80" src="<%= RELATIVE_PATH %>img/charm/career/icon-04.png" alt="運営スキルが自分のキャリアになる。">
						</div>
						<h3 class="live-ttl">
							運営スキルが<br>
							自分の <span>キャリア</span>になる。
						</h3>
						<p>
							AInoaは、運営ノウハウがあり、プレイヤーから店長、リーダーとフィールドごとの教育研修が充実しています。店長にチャレンジすることでサロンワーク以上に学べることが広がります。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>情報共有</span>
							<small>コミュニティ</small>
						</div>
						<div class="live-img">
							<img width="87" src="<%= RELATIVE_PATH %>img/charm/career/icon-05.png" alt="サロンコミュニティ勉強会が豊富。">
						</div>
						<h3 class="live-ttl">
							サロンコミュニティ<br>
							<span>勉強会</span>が豊富。
						</h3>
						<p>
							AInoaフランチャイズは、エリア会議で様々な店長との接点があるので、事例であったり、悩みを共有できるところが魅力です。<br>
							自分が気づかなかったところを発見できます。
						</p>
					</div>
				</li>
				<li>
					<div class="live-ct">
						<div class="live-cate">
							<span>オペレーション</span>
							<small>自己成長</small>
						</div>
						<div class="live-img">
							<img width="115" src="<%= RELATIVE_PATH %>img/charm/career/icon-06.png" alt="サロンビジネスを学べる。">
						</div>
						<h3 class="live-ttl">
							<span>サロンビジネス</span>を<br>
							学べる。
						</h3>
						<p>
							AInoaは、店舗運営システムが充実しており、サロンビジネスが学べる環境です。お客様にサービスを提供するオペレーションマニュアルがシステム化しているので、様々なシーンで活用できるようになっています。
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="sec-leader">
		<div class="inner">
			<div class="leader-flex">
				<h2 class="leader-heading">
					店長の経験値。
					<span>
					マネージメントを学び、<br>美容ビジネスをけん引する。
					</span>
				</h2>
				<p>
					サロン運営の全体を知るのは、店長という責任ある立場になることで得ることができます。キャリアアップのため、ビジネスに共通する、集客や広告、オペレーションや人材教育など幅広いスキルが身につくのが魅力の一つです。
					<br><br>
					店長の経験値は、履歴書でしっかりしたキャリアとして映ります。<br>
					これからの美容師人生、さらなるキャリアップを目指すために、AInoaで経験するスキルを活かし、AInoaグループでの店舗として、地域密着での有名サロンとして活躍できるように、私たちはサポートします。
				</p>
			</div>
		</div>
		<ul class="leader-list">
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/team/slide_01.jpg" alt="店長の経験値。">
				</div>
			</li>
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/team/slide_02.jpg" alt="店長の経験値。">
				</div>
			</li>
			<li>
				<div class="img js-scale">
					<img src="<%= RELATIVE_PATH %>img/charm/team/slide_03.jpg" alt="店長の経験値。">
				</div>
			</li>
		</ul>
	</section>
</main>