<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>AInoaの魅力について</small>
					<span class="c-ft--en">CHARM</span>
				</h1>
			</div>
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-change">
		<div class="inner">
			<h2 class="change-heading">
				美容師<b>の</b><br class="sp"><span>キャリアチェンジ</span><br>
				<small>ワークスタイルの選択肢は、<br class="sp">広い方がいい！</small>
			</h2>
			<p class="change-txt">
				長い美容師人生で自分がどこに向かっているか、また何が向いているかを決めるのはなかなか難しい。<br>
				昨今の美容業界は慌ただしく、何が正解かわからない。キャリアをしっかり見据えて、<br class="pc">自分の人生を決定できる環境はAInoaにある！将来を夢見て自分のワークスタイルを勝ち取ろう！
			</p>
			<ul class="change-list">
				<li>
					<div class="change-img js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/img-01.jpg" alt="経営者・リーダーを目指すキャリア型">
						<span>私は、マネジメント志向。</span>
					</div>
					<div class="change-ct">
						<h3 class="change-ttl">
							経営者・リーダーを目指す<br>
							<span>キャリア型</span>
						</h3>
						<a href="" class="c-btn__02">
							<span class="material-symbols-outlined">arrow_forward</span>
							MORE
						</a>
						<h4 class="change-desc">CAREER</h4>
					</div>
				</li>
				<li>
					<div class="change-img js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/img-02.jpg" alt="店長候補 求ム。チーム型">
						<span>デザイン集団を創る。</span>
					</div>
					<div class="change-ct">
						<h3 class="change-ttl">
							店長候補 求ム。<br>
							<span>チーム型</span>
						</h3>
						<a href="" class="c-btn__02">
							<span class="material-symbols-outlined">arrow_forward</span>
							MORE
						</a>
						<h4 class="change-desc">TEAM</h4>
					</div>
				</li>
				<li>
					<div class="change-img js-scale">
						<img src="<%= RELATIVE_PATH %>img/charm/img-03.jpg" alt="スター美容師になる。プレイヤー型">
						<span>指名上位を狙う。</span>
					</div>
					<div class="change-ct">
						<h3 class="change-ttl">
							スター美容師になる。<br>
							<span>プレイヤー型</span>
						</h3>
						<a href="" class="c-btn__02">
							<span class="material-symbols-outlined">arrow_forward</span>
							MORE
						</a>
						<h4 class="change-desc">PLAYER</h4>
					</div>
				</li>
			</ul>
		</div>
	</section>
</main>