<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>会社概要</small>
					<span class="c-ft--en">COMPANY</span>
				</h1>
			</div>
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-company">
		<div class="inner">
			<div class="bl-recruitct c-txt__basic02">
				<dl>
					<dt>
						会社名
					</dt>
					<dd>
						株式会社Honeycomb structure（ハニカムストラクチャ―）
					</dd>
				</dl>
				<dl>
					<dt>
						代表取締役
					</dt>
					<dd>
						小池 輝哉
					</dd>
				</dl>
				<dl>
					<dt>
						設立年月
					</dt>
					<dd>
						2008年 7月
					</dd>
				</dl>
				<dl>
					<dt>
						所在地
					</dt>
					<dd>
						〒113-0033　東京都文京区本郷1-15-2
					</dd>
				</dl>
				<dl>
					<dt>
						従業員数
					</dt>
					<dd>
						従業員数 50名 　グループ全体 95名
					</dd>
				</dl>
				<dl>
					<dt>
						休日休暇
					</dt>
					<dd>
							髪質改善ヘアエステサロンAInoaのチェーン本部運営<br>
							直営美容室の運営（海外含む）<br>
							マツエクサロン<br>
							ネイルサロン<br>
							WEB制作事業<br>
							コンサルタント事業<br>
							オリジナル商品の製造販売
					</dd>
				</dl>
				<dl>
					<dt>
						沿革
					</dt>
					<dd>
						<p class="fl"><span>2008年</span><span>葛飾区金町にて1号店 Codinoをオープン</span></p>
						<p class="fl"><span>2011年</span><span>2号店 hiveをオープン</span></p>
						<p class="fl"><span>2014年</span><span>水道橋にSoinsをオープン、亀有にRelacionをオープン </span></p>
						<p class="fl"><span>2016年</span><span>大型サロンAInoaをオープン、ネイル事業スタート</span></p>
						<p class="fl"><span>2017年</span><span>まつ毛エクステサロン出店</span></p>
						<p class="fl"><span>2018年</span><span>カナダ トロント出店、綾瀬にHanareをオープン</span></p>
						<p class="fl"><span>2019年</span><span>青山にRUANAをオープン </span></p>
						<p class="fl"><span>2020年現在</span><span>グループ店合わせ計18店舗運営 </span></p>
					</dd>
				</dl>
			</div>
		</div>
	</section>
</main>