<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page mb0">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<h1 class="inner">
				<div class="mv-page__ttl">
					<small>コンタクト</small>
					<span class="c-ft--en">CONTACT</span>
				</div>
			</h1>
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-contact-thanks">
		<div class="inner">
			<h2 class="check__ttl c-al--c"><span>お問い合わせいただきありがとうございます。</span></h2>
			<ul class="steps-list mbpc-97">
				<li class="steps-list__item ">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>1</small></span></p>
						<p class="steps-list__ttl">入力</p>
					</div>
				</li>
				<li class="steps-list__item">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>2</small></span></p>
						<p class="steps-list__ttl">碻認</p>
					</div>
				</li>
				<li class="steps-list__item active">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>3</small></span></p>
						<p class="steps-list__ttl">完了</p>
					</div>
				</li>
			</ul>
			<p class="c-al--c c-txt__basic mbpc-67 mbsp-37">
				お問い合わせは正常に送信されましたので、<br>
				自動返信メールをお送りします。
			</p>
			<div class="c-al--c">
				<button type="submit" class="contact-btn" name="confirm">
					<span class="en">TOP PAGE</span>
				</button>
			</div>
		</div>
	</section>
</main>