<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page mb0">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<h1 class="inner">
				<div class="mv-page__ttl">
					<small>コンタクト</small>
					<span class="c-ft--en">CONTACT</span>
				</div>
			</h1>
		</div>
		
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-contact-check">
		<div class="inner">
			<h2 class="check__ttl c-al--c"><span>以下の内容でお間違いがなければ「送信する」をクリックしてください。</span></h2>
			<ul class="steps-list">
				<li class="steps-list__item ">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>1</small></span></p>
						<p class="steps-list__ttl">入力</p>
					</div>
				</li>
				<li class="steps-list__item active">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>2</small></span></p>
						<p class="steps-list__ttl">碻認</p>
					</div>
				</li>
				<li class="steps-list__item">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>3</small></span></p>
						<p class="steps-list__ttl">完了</p>
					</div>
				</li>
			</ul>
			<div class="contact-table">
				<table class="">
					<tr>
						<td class="left">
							<p class="contact-table__ttl">お名前<span class="require">*</span></p>
						</td>
						<td class="right"><p class="contact-table__txt">テスト</p></td>
					</tr>
					<tr>
						<td class="left">
							<p class="contact-table__ttl">お名前<br class="sp-sm">（フリガナ）<span class="require">*</span></p>
						</td>
						<td class="right"><p class="contact-table__txt">テスト</p></td>
					</tr>
					<tr>
						<td class="left">
							<p class="contact-table__ttl">メールアドレス <span class="require">*</span></p>
						</td>
						<td class="right"><p class="contact-table__txt">テスト</p></td>
					</tr>
					<tr>
						<td class="left">
							<p class="contact-table__ttl">メールアドレス<br class="sp-sm">（確認用）<span class="require">*</span></p>
						</td>
						<td class="right"><p class="contact-table__txt">テスト</p></td>
					</tr>
					<tr>
						<td class="left">
							<p class="contact-table__ttl">電話番号 <span class="require">*</span></p>
						</td>
						<td class="right"><p class="contact-table__txt">テスト</p></td>
					</tr>
					<tr>
						<td class="left">
							<p class="contact-table__ttl">住所 <span class="require">*</span></p>
						</td>
						<td class="right"><p class="contact-table__txt">テスト</p></td>
					</tr>
					<tr>
						<td class="left">
							<p class="contact-table__ttl">お問い合わせ内容 <span class="require">*</span></p>
						</td>
						<td class="right"><p class="contact-table__txt">テスト</p></td>
					</tr>
					<tr>
						<td class="left">
							<p class="contact-table__ttl">プライバシー<br class="sp-sm">ポリシー <span class="require">*</span></p>
						</td>
						<td class="right"><p class="contact-table__txt">テスト</p></td>
					</tr>
					
				</table>
			</div>
			<div class="bx-check-btn c-al--c">
				<button type="submit" class="contact-btn black" name="confirm">
					<span>確認画面へ進む</span>
				</button>
				<button type="submit" class="contact-btn" name="confirm">
					<span >確認画面へ進む</span>
				</button>
			</div>
		</div>
	</section>
</main>





