<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>コンタクト</small>
					<span class="c-ft--en">CONTACT</span>
				</h1>
			</div>
		</div>
		
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-contact">
		<div class="inner">
			<h2 class="contact__ttl c-al--c"><span>下記のフォームにご入力お願いします。</span></h2>
			<div class="c-txt__basic c-al--c mbpc-96 mbsp-56">
				<p><span>*</span>は必須項目です。</p>
				<p>
					※返信には2、3日頂く場合もございます。お急ぎの場合はお電話にてお問い合わせください。<br>
					※こちらのフォームよりお問い合わせ頂きました場合、ご入力のメールアドレス宛に自動返信メールをお送りしております。<br>
					届かない場合は、お手数ですが再度お問い合わせ頂きますようお願いいたします。
				</p>
			</div>
			<ul class="steps-list">
				<li class="steps-list__item active">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>1</small></span></p>
						<p class="steps-list__ttl">入力</p>
					</div>
				</li>
				<li class="steps-list__item">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>2</small></span></p>
						<p class="steps-list__ttl">碻認</p>
					</div>
				</li>
				<li class="steps-list__item">
					<div class="steps-list__item-child">
						<p class="steps-list__index"><span>STEP. <small>3</small></span></p>
						<p class="steps-list__ttl">完了</p>
					</div>
				</li>
			</ul>
			<div class="bx-contact-form">
				<form class="contact-form" action="">
					<div class="contact-list">
						<div class="form-group">
							<label class="contact-list__ttl">お名前 <span class="require">*</span></label>
							<div class="contact-f">
								<div class="item-01">
									<input class="form-control" type="text" placeholder="姓">
								</div>
								<div class="item-01">
									<input class="form-control" type="text" placeholder="名">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="contact-list__ttl">お名前（フリガナ）<span class="require">*</span></label>
							<div class="contact-f">
								<div class="item-01">
									<input class="form-control" type="text" placeholder="セイ">
								</div>
								<div class="item-01">
									<input class="form-control" type="text" placeholder="メイ">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="contact-list__ttl">メールアドレス <span class="require">*</span></label>
							<div class="item-02">
								<input class="form-control" type="text" >
							</div>
						</div>
						<div class="form-group">
							<label class="contact-list__ttl">メールアドレス（確認用）<span class="require">*</span></label>
							<div class="item-02">
								<input class="form-control" type="text" placeholder="確認のため再度入力してください">
							</div>
						</div>
						<div class="form-group">
							<label class="contact-list__ttl">電話番号 <span class="require">*</span></label>
							<div class="contact-phone">
								<div class="item-phone">
									<input class="form-control" type="number" placeholder="000">
								</div>
								<div class="item-phone">
									<input class="form-control" type="number" placeholder="0000">
								</div>
								<div class="item-phone">
									<input class="form-control" type="number" placeholder="0000">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="contact-list__ttl">住所 <span class="require">*</span></label>
							<div class="item-02">
								<input class="form-control" type="number" placeholder="000">
							</div>
						</div>
						<div class="form-group">
							<label class="contact-list__ttl">お問い合わせ内容 <span class="require">*</span></label>
							<div class="item-02">
								<textarea class="form-control"></textarea>
							</div>
						</div>
					</div>
					<p class="contact-form__txt c-txt__basic c-al--c">
						<a >プライバシーポリシー<i class="fas fa-external-link-alt"></i></a>に同意の上、ボタンをクリックしてください。
					</p>
					<p class="contact-form__txt-check c-al--c">
						<label class="pure-input">
							<input type="checkbox" name="checkbox" value="プライバシーポリシーに同意する">
							<span>プライバシーポリシーに同意する</span>
						</label>
					</p>
					<div class="c-al--c">
						<button type="submit" class="contact-btn" name="confirm">
							<span>確認画面へ進む</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</main>





