<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page mb0">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>理念・ビジョン・社長挨拶</small>
					<span class="c-ft--en">IDEAL</span>
				</h1>
			</div>
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-ideal">
		<div class="inner">
			<h2 class="c-al--c ideal__ttl">
				<span class="txt-under">企業理念</span>
			</h2>
			<p class="ideal__sttl c-al--c">
				美容業を通じて、顧客・環境・社会に向けて価値創造を投じる。
			</p>
		</div>
	</section>
	<section class="sec-vision">
		<div class="ideal-vision">
			<div class="ideal-vision__left">
				<div class="ideal-vision__img">
					<img src="<%= RELATIVE_PATH %>img/ideal/image-1.jpg" alt="VISION">
				</div>
				<div class="ideal-vision__sttl">
					VISION
				</div>
			</div>
			<div class="ideal-vision__right">
				<p class="ideal-vision__ttl">
					時代に合わせた<span class="txt-orange">フレキシブルな<br>美容ビジネス</span>を展開する。
				</p>
			</div>
		</div>
	</section>
</main>