<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-bg">
			<img src="<%= RELATIVE_PATH %>img/index/mv-bg.jpg" alt="BUILD MY DREAM">
		</div>
		<div class="inner">
			<div class="mv-r">
				<div class="mv-slider swiper">
					<div class="swiper-wrapper">
						<div class="item swiper-slide">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-01.jpg" alt="BUILD MY DREAM">
							</div>
						</div>
						<div class="item swiper-slide">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-02.jpg" alt="BUILD MY DREAM">
							</div>
						</div>
						<div class="item swiper-slide">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-03.jpg" alt="BUILD MY DREAM">
							</div>
						</div>
						<div class="item swiper-slide">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-04.jpg" alt="BUILD MY DREAM">
							</div>
						</div>
						<div class="item swiper-slide">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/index/img-05.jpg" alt="BUILD MY DREAM">
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<h1 class="mv-ttl">
				<span class="c-ft--en">
					<span class="lg">BUILD</span>
					<span class="sm">MY DREAM</span>
				</span>
				<span class="jp">新しい時代の美容師の働き方</span>
			</h1>
		</div>
	</section>
	
	<section class="sec-about">
		<div class="inner">
			<div class="about-l mbsp-30">
				<h2 class="c-ttl__01 mbpc-50 mbsp-30">
					<span>ABOUT US</span>
				</h2>
				<p class="about-txt">
					美容師<span class="sm">は、</span><br>
					<span class="line c-fc--brd">ライフスタイル</span><span class="sm">で</span><br>
					選ぶ。
				
				</p>
			</div>
			<div class="about-r">
				<p class="c-txt__basic02 c-fw--bd">
					独立、業務委託、面貸し。<br>
					昨今の美容師の働き方はどんどん自由になり、多様化してきている。<br>
					自分の美容師人生。一番どれが正解なのか。
					<br><br>
					難しく考えなくていい。<br>
					もう一度原点を考えてみよう。
					<br><br>
					美容師は、どこまで行っても指名制度。<br>
					お客様に選ばれ、ヘアスタイルでご縁が生まれる。<br>
					自分の稼ぎも顧客数に比例する。
					<br><br>
					しっかり自分のお客様をもって、サロンワークに集中できる。<br>
					それがもっともやりがいのあることだ。
					<br><br>
					AInoaブランドで、新しい自分を活躍させよう。
				</p>
				<div class="about-btn">
					<a href="" class="c-btn__02">
						<span class="material-symbols-outlined">arrow_forward</span>
						AInoaについて
					</a>
				</div>
			</div>
		</div>
		<div class="about-img about-img--l js-scale">
			<img src="<%= RELATIVE_PATH %>img/index/about-img-01.jpg" alt="ABOUT US">
		</div>
		<div class="about-img about-img--r js-scale">
			<img src="<%= RELATIVE_PATH %>img/index/about-img-02.jpg" alt="ABOUT US">
		</div>
	</section>
	
	<section class="sec-charm">
		<div class="inner">
			<h2 class="c-ttl__01 mbpc-33 mbsp-30">
				<span>CHARM</span>
			</h2>
			<div class="charm-f">
				<div class="charm-l">
					<p class="c-ttl__04 mbpc-14  mbsp-15">
						キャリアチェンジは、いつでもできる。
					</p>
					<p class="c-ttl__02 mbsp-15">
						AInoaの<br>
						<span class="line c-fc--brd">フレキシブル</span>な選択肢
					</p>
				</div>
				<div class="charm-r">
					<p class="charm-highlight mbsp-15">
						ハイライトは、<br>
						ワークスタイルから手に入れる。
					</p>
					<p class="c-txt__basic">
						AInoaは、「自立支援型フランチャイズサロン」。だから店舗に合わせて、自分の活躍できるフィールドをいつでも提供できる。<br>
						AInoaは、あなたのやりたいことを応援します！
					</p>
				</div>
			</div>
			
			<ul class="charm-list">
				<li class="charm-list__item">
					<a href="" class="charm-list__link">
						<p class="charm-list__txt">
							<span class="c-bg--brd">キャリア型</span>
							<span class="sm">店舗を持つ夢</span>
						</p>
						<p class="charm-list__ttl">
							<span>私は、マネジメント志向。</span>
						</p>
						<div class="charm-list__img js-scale">
							<img src="<%= RELATIVE_PATH %>img/index/charm-01.jpg" alt="私は、マネジメント志向。">
						</div>
					</a>
				</li>
				<li class="charm-list__item">
					<a href="" class="charm-list__link">
						<p class="charm-list__txt">
							<span class="c-bg--brd">チーム型</span>
							<span class="sm">クリエイティブ集団を創る</span>
						</p>
						<p class="charm-list__ttl">
							<span>仲間と働く醍醐味がいい。</span>
						</p>
						<div class="charm-list__img js-scale">
							<img src="<%= RELATIVE_PATH %>img/index/charm-02.jpg" alt="仲間と働く醍醐味がいい。">
						</div>
					</a>
				</li>
				<li class="charm-list__item">
					<a href="" class="charm-list__link">
						<p class="charm-list__txt">
							<span class="c-bg--brd">プレイヤー型</span>
							<span class="sm">稼ぐことに尽きる</span>
						</p>
						<p class="charm-list__ttl">
							<span>自分指名。顧客を掴む。</span>
						</p>
						<div class="charm-list__img js-scale">
							<img src="<%= RELATIVE_PATH %>img/index/charm-03.jpg" alt="自分指名。顧客を掴む。">
						</div>
					</a>
				</li>
			</ul>
			
			<div class="btn-r">
				<a href="" class="c-btn__02">
					<span class="material-symbols-outlined">arrow_forward</span>
					AInoaの魅力
				</a>
			</div>
		</div>
	</section>
	
	<section class="sec-live-t">
		<div class="inner">
			<div class="live-cnt">
				<h2 class="c-ttl__01 mbpc-61 mbsp-30">
					<span>LIVE</span>
				</h2>
				<p class="c-ttl__02 mbpc-40 mbsp-15">
					<span class="c-fc--brd line">マンツーマン接客</span>が<br>
					できる喜び
				</p>
				<p class="c-ttl__04 mbpc-26 mbsp-15">
					高単価サロンだから、<br>
					一人の顧客にしっかり時間が取れる。
				</p>
				<p class="c-txt__basic mbpc-80 mbsp-40">
					今まで一人のお客様にデザインをしっかり提案できる時間がなかった方へ。AInoaブランドは、そんな心配はありません。
					<br><br>
					高単価サロンなので、一人のお客様にしっかりデザイン提案ができる環境で働くことができ、デザイナーとしての自分を成長させてくれます。
				</p>
				<a href="" class="c-btn__02">
					<span class="material-symbols-outlined">arrow_forward</span>
					実況中継
				</a>
			</div>
			<div class="live-img-t js-scale">
				<img src="<%= RELATIVE_PATH %>img/index/live-img.jpg" alt="LIVE">
			</div>
		</div>
	</section>
	
	<section class="sec-future">
		<div class="inner">
			<h2 class="c-ttl__01 mbpc-35 mbsp-30">
				<span>FUTURE</span>
			</h2>
			
			<p class="c-ttl__04 c-al--c mbpc-14 mbsp-15">
				AInoaサロン経営システム
			</p>
			
			<p class="c-ttl__02 c-al--c mbpc-20 mbsp-15">
				<span class="c-fc--brd line">稼ぎ続けられる</span>サロン経営を目指す
			</p>
			<p class="c-txt__basic c-al--c mbpc-72 mbsp-30">私たちは総合的な美容室経営サポートを行います。</p>
			
			<div class="future-list">
				<div class="future-list__item">
					<p class="future-list__ico">
						<img src="<%= RELATIVE_PATH %>img/index/future-01.png" width="103" alt="集客ノウハウ PROMOTION">
					</p>
					<p class="future-list__ttl">
						<span class="jp">集客ノウハウ</span>
						<span class="c-ft--en">PROMOTION</span>
					</p>
				</div>
				<div class="future-list__item">
					<p class="future-list__ico">
						<img src="<%= RELATIVE_PATH %>img/index/future-02.png" width="105" alt="財務サポート FINANCE">
					</p>
					<p class="future-list__ttl">
						<span class="jp">財務サポート</span>
						<span class="c-ft--en">FINANCE</span>
					</p>
				</div>
				<div class="future-list__item">
					<p class="future-list__ico">
						<img src="<%= RELATIVE_PATH %>img/index/future-03.png" width="123" alt="サービス開発 SERVICE">
					</p>
					<p class="future-list__ttl">
						<span class="jp">サービス開発</span>
						<span class="c-ft--en">SERVICE</span>
					</p>
				</div>
				<div class="future-list__item">
					<p class="future-list__ico">
						<img src="<%= RELATIVE_PATH %>img/index/future-04.png" width="99" alt="人材教育 HUMAN RESOUCE">
					</p>
					<p class="future-list__ttl">
						<span class="jp">人材教育</span>
						<span class="c-ft--en">HUMAN RESOUCE</span>
					</p>
				</div>
			</div>
			
			<div class="future-f">
				<p class="c-ttl__04">
					サロン経営に必要なノウハウは、<br>
					すべて身近にある。
				</p>
				<p class="c-txt__basic">
					サロンの成功事例から生まれたAInoaブランド。サロン経営に必要な、労務、財務、教育、サービス提供などすべてフランチャイズ本部が管理し、技術に集中できます！
				</p>
			</div>
			<div class="btn-r mbpc-52 mbsp-30">
				<a href="" class="c-btn__02 mbpc-50">
					<span class="material-symbols-outlined">arrow_forward</span>
					将来の道
				</a>
			</div>
			
			<p class="c-ttl__02 mbpc-8 mbsp-15">
				数字で見るAInoa
			</p>
			<p class="c-txt__basic mbpc-79 mbsp-30">
				フランチャイズサロンシステムによる2021年度実績<small>※FC加盟店調べ</small>
			</p>
			
			<ul class="future-list02 c-al--c">
				<li class="future-list02__item">
					<p class="c-txt__basic c-fw--bd c-fc--brd">客単価平均</p>
					<p class="future-list02__txt c-ft--oswald c-fw--sbd">
						<span class="number">12,000</span>円以上
					</p>
				</li>
				<li class="future-list02__item">
					<p class="c-txt__basic c-fw--bd c-fc--brd">店販購入率</p>
					<p class="future-list02__txt c-ft--oswald c-fw--sbd">
						約<span class="number">40</span>%
					</p>
				</li>
				<li class="future-list02__item">
					<p class="c-txt__basic c-fw--bd c-fc--brd">次回予約率</p>
					<p class="future-list02__txt c-ft--oswald c-fw--sbd">
						約<span class="number">90</span>%
					</p>
				</li>
				<li class="future-list02__item">
					<p class="c-txt__basic c-fw--bd c-fc--brd">来店サイクル</p>
					<p class="future-list02__txt c-ft--oswald c-fw--sbd">
						<span class="number">30</span>日周期
					</p>
				</li>
				<li class="future-list02__item">
					<p class="c-txt__basic c-fw--bd c-fc--brd">新規リピート率</p>
					<p class="future-list02__txt c-ft--oswald c-fw--sbd">
						驚異の<span class="number">80.6</span>%
					</p>
				</li>
				<li class="future-list02__item">
					<p class="c-txt__basic c-fw--bd c-fc--brd">既存リピート率</p>
					<p class="future-list02__txt c-ft--oswald c-fw--sbd">
						安定の<span class="number">92.6</span>%
					</p>
				</li>
			</ul>
		</div>
	</section>
	
	<section class="sec-career-t">
		<div class="inner">
			<h2 class="c-ttl__01 mbpc-36 mbsp-30">
				<span>CAREER</span>
			</h2>
			<div class="career-f">
				<p class="c-ttl__02 mbsp-15">
					自分の<span class="line c-fc--brd">ポジション</span>を<br>
					手に入れる
				</p>
				<div class="career-r">
					<p class="c-ttl__04 mbpc-16 mbsp-15">
						自分の美容師人生をどんなキャリアにするか。
					</p>
					<p class="c-txt__basic">
						AInoaブランドでのキャリアは、成功事例からのノウハウから成り立つもの。自分の美容師人生が活躍できるように、様々な美容師からのインタビューで、AInoaの魅力をお伝えします。
					</p>
				</div>
			</div>
			
			<ul class="career-list">
				<li class="career-list__item">
					<a href="" class="career-list__link">
						<div class="career-list__box">
							<div class="career-list__img js-scale">
								<img src="<%= RELATIVE_PATH %>img/index/career-01.jpg" alt="KOSUKE スタイリスト歴8年">
							</div>
							<div class="career-list__cnt">
								<p class="career-list__tag"># 01</p>
								<p class="career-list__txt">
									ライフスタイルに<br>
									バランスが大事
								</p>
							</div>
						</div>
						<p class="career-list__ttl">
							<span class="c-ft--en">KOSUKE</span>
							<span class="jp">スタイリスト歴8年</span>
						</p>
					</a>
				</li>
				<li class="career-list__item">
					<a href="" class="career-list__link">
						<div class="career-list__box">
							<div class="career-list__img js-scale">
								<img src="<%= RELATIVE_PATH %>img/index/career-02.jpg" alt="KOSUKE スタイリスト歴8年">
							</div>
							<div class="career-list__cnt">
								<p class="career-list__tag"># 02</p>
								<p class="career-list__txt">
									ライフスタイルに<br>
									バランスが大事
								</p>
							</div>
						</div>
						<p class="career-list__ttl">
							<span class="c-ft--en">KOSUKE</span>
							<span class="jp">スタイリスト歴8年</span>
						</p>
					</a>
				</li>
				<li class="career-list__item">
					<a href="" class="career-list__link">
						<div class="career-list__box">
							<div class="career-list__img js-scale">
								<img src="<%= RELATIVE_PATH %>img/index/career-03.jpg" alt="KOSUKE スタイリスト歴8年">
							</div>
							<div class="career-list__cnt">
								<p class="career-list__tag"># 03</p>
								<p class="career-list__txt">
									ライフスタイルに<br>
									バランスが大事
								</p>
							</div>
						</div>
						<p class="career-list__ttl">
							<span class="c-ft--en">KOSUKE</span>
							<span class="jp">スタイリスト歴8年</span>
						</p>
					</a>
				</li>
				<li class="career-list__item">
					<a href="" class="career-list__link">
						<div class="career-list__box">
							<div class="career-list__img js-scale">
								<img src="<%= RELATIVE_PATH %>img/index/career-04.jpg" alt="KOSUKE スタイリスト歴8年">
							</div>
							<div class="career-list__cnt">
								<p class="career-list__tag"># 04</p>
								<p class="career-list__txt">
									ライフスタイルに<br>
									バランスが大事
								</p>
							</div>
						</div>
						<p class="career-list__ttl">
							<span class="c-ft--en">KOSUKE</span>
							<span class="jp">スタイリスト歴8年</span>
						</p>
					</a>
				</li>
			</ul>
			
			<div class="btn-r mbpc-84 mbsp-50">
				<a href="" class="c-btn__02 mbpc-50">
					<span class="material-symbols-outlined">arrow_forward</span>
					インタビュー
				</a>
			</div>
			
			<div class="career-bnr js-scale">
				<img src="<%= RELATIVE_PATH %>img/index/career-bnr.jpg" alt="CAREER">
			</div>
			
			<div class="btn-group">
				<a href="" class="c-btn__03">
					会社概要
					<span class="material-symbols-outlined">arrow_forward</span>
				</a>
				<a href="" class="c-btn__03">
					理念・ビジョン・社長挨拶
					<span class="material-symbols-outlined">arrow_forward</span>
				</a>
				<a href="" class="c-btn__03">
					お問い合わせ
					<span class="material-symbols-outlined">arrow_forward</span>
				</a>
			</div>
		</div>
	</section>
</main>