<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>実況中継</small>
					<span class="c-ft--en">LIVE</span>
				</h1>
			</div>
		</div>
		<div class="mv-page__img-live">
			<img src="<%= RELATIVE_PATH %>img/live/img-mv.jpg" alt="実況中継 LIVE">
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-live-intro">
		<div class="inner live-intro">
			<div class="live-intro__logo">
				<img src="<%= RELATIVE_PATH %>img/live/img-live-intro.png" alt="Franchise Salon を知る">
			</div>
			<div class="live-intro__flex">
				<h2 class="live-intro__ttl">
					<span><strong>髪質改善</strong>を<br class="pc">ベースにした、<br class="pc">サロンワーク。</span>
					<small>AInoaのヘアエステシステム</small>
				</h2>
				<div class="live-intro__info">
					<h3 class="txt-lead">
						顧客が感動するサービスがココにある。<br>
						ハイクオリティのデザインがあなたにもできる。
					</h3>
					<div class="live-intro__desc c-txt__basic">
						<p>
							髪が美しくなると、顧客はリピートする。私たちはそう思っています。<br>
							実際に、髪質改善に取り組むことで、顧客のリピート率は、94.6％まで達成できました。髪質改善を行うことで、素材が美しくなり、すべてのデザインワークによる仕上がりが格段と上がります。カットの再現性、カラーの色味、パーマの躍動感など素材を押さえることで、すべてのデザインの品質が高まります。
						</p>
						<p>
							私たちは、ヘアエステシステムをサロンに導入し、エッセンスを習得することで、顧客獲得とデザインクオリティの両方を得ることができ、各スタッフが顧客関係を築き、指名数を獲得しやすいようにサポートを行っています。
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-live-page">
		<div class="live-page">
			<div class="live-page__block">
				<div class="live-page__info">
					<h2 class="live-page__ttl-sub">
						<span><strong>#01</strong>コミュニケーション</span>
						<small>接客</small>
					</h2>
					<h3 class="live-page__ttl">髪質改善だから接客が集中できるマンツーマン体制。</h3>
					<div class="live-page__desc c-txt__basic">
						<p>
							AInoaは、どのサービスにも髪質改善をお客様に提案します。髪質改善のメニューから素材にアプローチし、お客様とコミュニケーションをとり、信頼関係を築きます。<br>
							一人一人にしっかり時間をかけて、ライフスタイルと髪のコンディションをお聞きしながら接客をしていきます。
						</p>
						<p>AInoaは、1日に2～3人ほどしか接客をしません。それだけ一人のお客様にしっかり時間をかけて、顧客関係の構築を大事にします。</p>
					</div>
				</div>
				<div class="live-page__img js-scale">
					<img src="<%= RELATIVE_PATH %>img/live/img-live-01.png" alt="髪質改善だから接客が集中できるマンツーマン体制。">
				</div>
			</div>
			<div class="live-page__block">
				<div class="live-page__info">
					<h2 class="live-page__ttl-sub">
						<span><strong>#02</strong>施術</span>
						<small>技術サービス</small>
					</h2>
					<h3 class="live-page__ttl">髪質改善からはじめる。<br>ヘアエステサービス。</h3>
					<div class="live-page__desc c-txt__basic">
						<p>AInoaの髪質改善プログラムは、「ヘアエステ」という独自のエッセンスがあります。働き始めてから、ヘアエステを研修で勉強し、髪質改善プログラムを習得していただくことで、どたなも高品質はヘアケアを提供することができるようになります。</p>
						<p>しっかりとしたマニュアルと技術があるので、誰でもすぐに実践できるようになり、デザインサービスのクオリティも格段と上がるようになります。<br>
						そのために、多数の工程をかけて髪質診断からヘアケアまで丁寧に行っていきます。</p>
					</div>
				</div>
				<div class="live-page__img js-scale">
					<img src="<%= RELATIVE_PATH %>img/live/img-live-02.jpg" alt="髪質改善からはじめる。ヘアエステサービス。">
				</div>
			</div>
			<div class="live-page__block live-page__block--full">
				<div class="live-page__info">
					<h2 class="live-page__ttl-sub">
						<span><strong>#03</strong>デザインワーク</span>
						<small>デザイン</small>
					</h2>
					<h3 class="live-page__ttl">デザインのクオリティが上がる<br class="pc">仕上がりの品質。</h3>
					<div class="live-page__desc c-txt__basic">
						<p>
							素材が美しくなると、他のビューティサービスのレベルが格段と上がります。カットの再現性、カラーの退色を防いだり、パーマの持ちを上げたり、日ごろのデザインサービスがやりやすくなり、お客様のスタイルデザインも満足いただけるようになります。根本の考え方を素材にフォーカスすることで、今までに培ったサロンワークやデザインサービスを活化すことができ、デザインのレベルをどんどん向上することができます。
						</p>
					</div>
				</div>
				<div class="live-page__img live-page__img--list">
					<div class="img">
						<div class="js-scale">
							<img src="<%= RELATIVE_PATH %>img/live/img-live-03-1.jpg" alt="デザインのクオリティが上がる仕上がりの品質。">
						</div>
					</div>
					<div class="img">
						<div class="js-scale">
							<img src="<%= RELATIVE_PATH %>img/live/img-live-03-2.jpg" alt="デザインのクオリティが上がる仕上がりの品質。">
						</div>
					</div>
					<div class="img">
						<div class="js-scale">
							<img src="<%= RELATIVE_PATH %>img/live/img-live-03-3.jpg" alt="デザインのクオリティが上がる仕上がりの品質。">
						</div>
					</div>
				</div>
			</div>
			<div class="live-page__block">
				<div class="live-page__info">
					<h2 class="live-page__ttl-sub">
						<span><strong>#04</strong>メニュー提案</span>
						<small>フォロー</small>
					</h2>
					<h3 class="live-page__ttl">リピートを繋げる<br>顧客を掴むシステム。</h3>
					<div class="live-page__desc c-txt__basic">
						<p>髪質改善は、日々のメンテナンスが必要です。ヘアエステメニューを顧客に促し、来店サイクルの短縮を誘導し、リピートに繋げていきます。顧客と関係性ができ、サロン後、ご自宅で行うメンテナンスなどのフォローを続けていきます。</p>
						<p>顧客との信頼関係を十分な時間をかけて築くことにより、再来店リピートに繋がることになり、集客に困ることなく自分の指名顧客を獲得できます。</p>
					</div>
				</div>
				<div class="live-page__img js-scale">
					<img src="<%= RELATIVE_PATH %>img/live/img-live-04.jpg" alt="リピートを繋げる顧客を掴むシステム。">
				</div>
			</div>
		</div>
	</section>
</main>
