<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>プライバシーポリシー</small>
					<span class="c-ft--en">PRIVACY POLICY</span>
				</h1>
			</div>
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="secs-privacy">
		<div class="inner">
			<div class="box-privacy c-txt__basic">
				<p>
					髪質改善ヘアエステサロン AInoa（アイノア）（以下「当店」）は、個人情報保護に関する法令およびそのほかの規範を遵守します。 当社が収集する個人情報とは、個人の氏名、生年月日、住所など特定の個人を識別できる情報（他の情報と容易に照合することで、それにより特定の個人を識別できることも含みます）をいいます。
				</p>
				<h2 class="ttl-pr">
					1.個人情報の収集について
				</h2>
				<p class="txt-pr">
					当店は、下記の場合に個人情報を収集することがあります。<br>
					<span>お問い合せ</span><br>
					<span>資料請求のお申し込み</span> <br>
					<span>アンケート調査へのご回答</span> <br>
					<span>求人・ボランティア・アルバイト募集などへのご応募</span>
				</p>
				<h2 class="ttl-pr">
					2. 個人情報の利用目的について
				</h2>
				<p class="txt-pr">
					当店がご利用者様からいただいた個人情報は、下記目的の必要な範囲で使用いたします。<br>
					<span>ご購入いただいた商品のお申し込みの確認やお届けをするため</span><br>
					<span>お問い合わせなどに対する回答や確認のご連絡のため</span> <br>
					<span>ご利用者様に特別な企画（イベント・キャンペーンなど）や、新しい商品の情報をお知らせするため</span><br>
					<span>商品やサービスに関する情報をお送りするため</span><br>
					<span>ご利用者様が希望する商品などをお伺いする、アンケートをお送りするため</span><br>
					<span>ご購入履歴の確認をおこない、充実したサービスをおこなうため</span><br>
					<span>商品やサービスを向上させるための分析をおこなうため</span><br>
					<span>ご利用者様にあったサービスを提供するため</span><br>
				</p>
				<h3 class="ttl-pr">
					3. 個人情報の第三者への開示について
				</h3>
				<p class="txt-pr">
					当店が取得したご利用者様の個人データは、下記の場合を除き、原則として、いかなる第三者にも開示することはありません。<br>
					<span>開示先、開示情報内容を特定したうえで、ご利用者様の合意がある場合</span><br>
					<span>商品のご購入で決済が必要な場合</span> <br>
					<span>商品配送業者に商品の配送を依頼する場合</span><br>
					<span>裁判所や警察などの公的機関から法律に基づく正式な要請を受けた場合</span>
				</p>
				<h3 class="ttl-pr">
					4．個人情報の管理・保護について
				</h3>
				<p class="txt-pr">
					当店が収集したご利用者様の個人情報については、適切な管理をおこない、紛失・破壊・改ざん・不正アクセス・漏えいなどの防止に努めます。
				</p>
				<h3 class="ttl-pr">
					5．属性情報・端末情報・位置情報・行動履歴等の取得及び利用について
				</h3>
				<p class="txt-pr">
					属性情報・端末情報・位置情報・行動履歴等（以下「行動履歴等」といいます）のうち Cookie 等について当社は、ユーザーのプライバシーの保護、利便性の向上、広告の配信および統計 データの取得のため、Cookie を使用します。また、Cookie や JavaScript 等の技術を利用して、ご提供いただいた情報のうち、年齢や性別、職業、居住地域など個人が特定できない属性情報（組み合わせることによっても個人が特定できないものに限られます）や端末情報、本サービスサイト内におけるユーザーの行動履歴（アクセスしURL、コンテンツ、参照 順等）およびスマートフォン等利用時の、ユーザーの承諾・申込みに基づく位置情報を取得することがあります。ただし、Cookie 及び行動履歴等には個人情報は一切含まれません。
				</p>
				<h3 class="ttl-pr">
					6．個人情報保護方針の変更
				</h3>
				<p class="txt-pr">
					当法人は、本方針の全部または一部を変更することがあります。 重要な変更に関しては本ホームページ上でお知らせいたします。
				</p>
				<h3 class="ttl-pr">
					7．個人情報の開示・訂正・削除について
				</h3>
				<p class="txt-pr">
					個人情報はできるだけ正確かつ最新の状態で管理するよう努めています。 また、個人情報の開示・削除については、ご利用者様ご自身が下記のお問い合せ窓口へご連絡ください。 第三者への個人情報の漏えいを防ぐため、当該請求がご利用者様ご本人によるものであることが確認できた場合に限り対応いたします。
				</p>
				<h3 class="ttl-pr">
					8．個人情報保護方針の改正について
				</h3>
				<p class="txt-pr">
					当店はプライバシーポリシー（個人情報保護方針）を適宜見直し、改定していきます。<br>
					改定されたプライバシーポリシーは、すみやかに当ウェブサイトに掲載いたします。
				</p>
			</div>
		</div>
	</section>
</main>