<main class="page-<%= pageData.template %> main-page">
	<section class="sec-mv-page">
		<div class="mv-page__img">
			<img src="<%= RELATIVE_PATH %>img/common/mv-page.jpg" alt="実況中継 LIVE">
		</div>
		<div class="mv-page__cnt">
			<div class="inner">
				<h1 class="mv-page__ttl">
					<small>募集要項</small>
					<span class="c-ft--en">RECRUIT</span>
				</h1>
			</div>
		</div>
		<%- include('common/_breadcrumb'); %>
	</section>
	<section class="sec-recruitmain">
		<div class="inner">
			<ul class="list-recruittabs">
				<li class="item">
					<a href="#tab01">正社員</a>
				</li>
				<li class="item">
					<a href="#tab02">アルバイト・パート</a>
				</li>
				<li class="item">
					<a href="#tab03">業務委託</a>
				</li>
				<li class="item">
					<a href="#tab04">契約社員</a>
				</li>
			</ul>
			<div class="list-ctrecruit c-txt__basic">
				<div id="tab01" class="item-recruitct">
					<h2 class="c-ttl__05"><span>美容師（正社員）</span></h2>
					<div class="bl-recruitct">
						<dl>
							<dt>
								募集職種
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								役職
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								勤務地
							</dt>
							<dd>
								<ul class="list-address">
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Soins水道橋店</span><br>
										東京都 文京区 本郷1-15-2　 三澤第一ビル201号室<br>
										水道橋駅 徒歩1分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">Ainoa EUREKA白楽店</span><br>
										神奈川県 横浜市神奈川区 白楽100-25 ヴァンベール白楽２F<br>
										白楽駅 徒歩1分/東白楽駅 徒歩8分/妙蓮寺駅 徒歩16分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa 金町店</span><br>
										東京都 葛飾区 東金町2-18-1 マルマスビル205<br>
										金町駅 徒歩6分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa sinon 神保町店</span><br>
										東京都 千代田区 西神田２－３－７ コニファーハウス1F<br>
										水道橋駅 徒歩6分/神保町駅 徒歩5分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa RUANA青山店</span><br>
										東京都 港区 南青山1-10-10 I&T Minamiaoyama<br>
										青山一丁目駅 徒歩5分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Saks 桂川店（アイノア サックス 桂川店）</span><br>
										京都府 京都市南区 久世中久世町2-105-1<br>
										桂川駅 徒歩10分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Hanare綾瀬店</span><br>
										東京都 足立区 綾瀬3-15-1<br>
										綾瀬駅 徒歩2分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Aface 植田店</span><br>
										愛知県 名古屋市天白区 植田3-101 横地ビル１F 101<br>
										植田駅 徒歩2分/塩釜口駅 徒歩15分/原駅 徒歩13分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Relacion亀有店</span><br>
										東京都 葛飾区 亀有5-20-11 YSビルド202<br>
										亀有駅 徒歩4分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Suno 南千住店【アイノア スーノ】</span><br>
										東京都 荒川区 南千住3-1-12 加藤ビル１F<br>
										南千住駅 徒歩3分/三ノ輪駅 徒歩10分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Codino金町店</span><br>
										東京都 葛飾区 東金町1-18-12　 1F<br>
										金町駅 徒歩3分
									</li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt>
								仕事内容
							</dt>
							<dd>
								美容業
							</dd>
						</dl>
						<dl>
							<dt>
								給与
							</dt>
							<dd>
								月給 30.0万円〜60.0万円
							</dd>
						</dl>
						<dl>
							<dt>
								勤務時間
							</dt>
							<dd>
								10:00〜19:00
							</dd>
						</dl>
						<dl>
							<dt>
								休日休暇
							</dt>
							<dd>
								<p class="txt-des15">
									完全週休2日制（月８日休み）<br>
									定休日：火曜日＋平日シフト制<br>
									夏季２日有休＋冬季２日有休（4日含）<br>
									年間休日100日以上（長期連休可能）<br>
									月に１回程度「土日祝」休み取得可能（有休2日分消化取得）
								</p>
							</dd>
						</dl>
						<dl>
							<dt>
								賞与・昇給
							</dt>
							<dd>
								年2回
							</dd>
						</dl>
						<dl>
							<dt>
								必要経験
							</dt>
							<dd>
								スタイリスト / アシスタント / ジュニアスタイリスト
							</dd>
						</dl>
						<dl>
							<dt>
								必要資格
							</dt>
							<dd>
								美容師免許
							</dd>
						</dl>
						<dl>
							<dt>
								福利厚生
							</dt>
							<dd>
								<ul class="list-circle">
									<li class="item">
										交通費支給(1.5万円/月迄)
									</li>
									<li class="item">
										社会保険完備
									</li>
									<li class="item">
										歩合給有り
									</li>
									<li class="item">
										冠婚葬祭
									</li>
									<li class="item">
										夏季・冬季休暇4日〜7日
									</li>
									<li class="item">
										技術指導有(当社カリキュラムに沿う)
									</li>
									<li class="item">
										店販ノルマ無 
									</li>
								</ul>
							</dd>
						</dl>
					</div>
					<h2 class="c-ttl__05"><span>スタイリスト（正社員）</span></h2>
					<div class="bl-recruitct">
						<dl>
							<dt>
								募集職種
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								役職
							</dt>
							<dd>
								スタイリスト
							</dd>
						</dl>
						<dl>
							<dt>
								勤務地
							</dt>
							<dd>
								<ul class="list-address">
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Soins水道橋店</span><br>
										東京都 文京区 本郷1-15-2　 三澤第一ビル201号室<br>
										水道橋駅 徒歩1分s
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">Ainoa EUREKA白楽店</span><br>
										神奈川県 横浜市神奈川区 白楽100-25 ヴァンベール白楽２F<br>
										白楽駅 徒歩1分/東白楽駅 徒歩8分/妙蓮寺駅 徒歩16分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa 金町店</span><br>
										東京都 葛飾区 東金町2-18-1 マルマスビル205<br>
										金町駅 徒歩6分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa sinon 神保町店</span><br>
										東京都 千代田区 西神田２－３－７ コニファーハウス1F<br>
										水道橋駅 徒歩6分/神保町駅 徒歩5分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa RUANA青山店</span><br>
										東京都 港区 南青山1-10-10 I&T Minamiaoyama<br>
										青山一丁目駅 徒歩5分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Saks 桂川店（アイノア サックス 桂川店）</span><br>
										京都府 京都市南区 久世中久世町2-105-1<br>
										桂川駅 徒歩10分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Hanare綾瀬店</span><br>
										東京都 足立区 綾瀬3-15-1<br>
										綾瀬駅 徒歩2分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Aface 植田店</span><br>
										愛知県 名古屋市天白区 植田3-101 横地ビル１F 101<br>
										植田駅 徒歩2分/塩釜口駅 徒歩15分/原駅 徒歩13分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Relacion亀有店</span><br>
										東京都 葛飾区 亀有5-20-11 YSビルド202<br>
										亀有駅 徒歩4分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Suno 南千住店【アイノア スーノ】</span><br>
										東京都 荒川区 南千住3-1-12 加藤ビル１F<br>
										南千住駅 徒歩3分/三ノ輪駅 徒歩10分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Codino金町店</span><br>
										東京都 葛飾区 東金町1-18-12　 1F<br>
										金町駅 徒歩3分
									</li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt>
								仕事内容
							</dt>
							<dd>
								美容業
							</dd>
						</dl>
						<dl>
							<dt>
								給与
							</dt>
							<dd>
								月給＋歩合給
							</dd>
						</dl>
						<dl>
							<dt>
								勤務時間
							</dt>
							<dd>
								10:00〜19:00
							</dd>
						</dl>
						<dl>
							<dt>
								休日休暇
							</dt>
							<dd>
								<p class="txt-des15">
								完全週休2日制（月８日休み）<br>
								定休日：火曜日＋平日シフト制<br>
								夏季２日有休＋冬季２日有休（4日含）<br>
								年間休日100日以上（長期連休可能）<br>
								月に１回程度「土日祝」休み取得可能（有休2日分消化取得）
								</p>
							</dd>
						</dl>
						<dl>
							<dt>
								賞与・昇給
							</dt>
							<dd>
								年2回
							</dd>
						</dl>
						<dl>
							<dt>
								必要資格
							</dt>
							<dd>
								美容師免許
							</dd>
						</dl>
						<dl>
							<dt>
								福利厚生
							</dt>
							<dd>
								<ul class="list-circle">
									<li class="item">
										交通費支給(1.5万円/月迄)
									</li>
									<li class="item">
										社会保険完備
									</li>
									<li class="item">
										歩合給有り
									</li>
									<li class="item">
										冠婚葬祭
									</li>
									<li class="item">
										夏季・冬季休暇4日〜7日
									</li>
									<li class="item">
										技術指導有(当社カリキュラムに沿う)
									</li>
									<li class="item">
										店販ノルマ無 
									</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>
				<div id="tab02" class="item-recruitct">
					<h2 class="c-ttl__05"> <span>美容師（アルバイト・パート）</span></h2>
					<div class="bl-recruitct">
						<dl>
							<dt>
								募集職種
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								役職
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								勤務地
							</dt>
							<dd>
								<ul class="list-address">
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Soins水道橋店</span><br>
										東京都 文京区 本郷1-15-2　 三澤第一ビル201号室<br>
										水道橋駅 徒歩1分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Hanare綾瀬店</span><br>
										東京都 足立区 綾瀬3-15-1<br>
										綾瀬駅 徒歩2分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa 金町店</span><br>
										東京都 葛飾区 東金町2-18-1 マルマスビル205<br>
										金町駅 徒歩6分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Relacion亀有店</span><br>
										東京都 葛飾区 亀有5-20-11 YSビルド202<br>
										亀有駅 徒歩4分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa RUANA青山店</span><br>
										東京都 港区 南青山1-10-10 I&T Minamiaoyama<br>
										青山一丁目駅 徒歩5分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Codino金町店</span><br>
										東京都 葛飾区 東金町1-18-12　 1F<br>
										金町駅 徒歩3分
									</li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt>
								仕事内容
							</dt>
							<dd>
								美容業
							</dd>
						</dl>
						<dl>
							<dt>
								給与
							</dt>
							<dd>
								時給 1,050円〜1,200円
							</dd>
						</dl>
						<dl>
							<dt>
								勤務時間
							</dt>
							<dd>
								09:30〜18:00<br>08:30〜18:00<br>10:00〜18:00<br>※5時間勤務～
							</dd>
						</dl>
						<dl>
							<dt>
								休日休暇
							</dt>
							<dd>
								週休2日制<br>シフト制夏季・冬季休暇（各4日〜7日）
							</dd>
						</dl>
						<dl>
							<dt>
								必要経験
							</dt>
							<dd>
								年2回
							</dd>
						</dl>
						<dl>
							<dt>
								必要経験
							</dt>
							<dd>
								スタイリスト / アシスタント / ジュニアスタイリスト
							</dd>
						</dl>
						<dl>
							<dt>
								必要資格
							</dt>
							<dd>
								美容師免許
							</dd>
						</dl>
						<dl>
							<dt>
								福利厚生
							</dt>
							<dd>
								<ul class="list-circle">
									<li class="item">
										交通費支給(1.5万円/月迄)
									</li>
									<li class="item">
										社会保険完備
									</li>
									<li class="item">
										歩合給有り
									</li>
									<li class="item">
										冠婚葬祭
									</li>
									<li class="item">
										夏季・冬季休暇4日〜7日
									</li>
									<li class="item">
										技術指導有(当社カリキュラムに沿う)
									</li>
									<li class="item">
										店販ノルマ無 
									</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>
				<div id="tab03" class="item-recruitct">
					<h2 class="c-ttl__05"> <span>美容師（業務委託）</span></h2>
					<div class="bl-recruitct">
						<dl>
							<dt>
								募集職種
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								役職
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								勤務地
							</dt>
							<dd>
								<ul class="list-address">
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Soins水道橋店</span><br>
										東京都 文京区 本郷1-15-2　 三澤第一ビル201号室<br>
										水道橋駅 徒歩1分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Hanare綾瀬店</span><br>
										東京都 足立区 綾瀬3-15-1<br>
										綾瀬駅 徒歩2分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa 金町店</span><br>
										東京都 葛飾区 東金町2-18-1 マルマスビル205<br>
										金町駅 徒歩6分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Relacion亀有店</span><br>
										東京都 葛飾区 亀有5-20-11 YSビルド202<br>
										亀有駅 徒歩4分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa RUANA青山店</span><br>
										東京都 港区 南青山1-10-10 I&T Minamiaoyama<br>
										青山一丁目駅 徒歩5分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Codino金町店</span><br>
										東京都 葛飾区 東金町1-18-12　 1F<br>
										金町駅 徒歩3分
									</li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt>
								仕事内容
							</dt>
							<dd>
								一般美容業務のお仕事です。<br>「髪質改善ヘアエステ」の資格認定も受講できます。
							</dd>
						</dl>
						<dl>
							<dt>
								給与
							</dt>
							<dd>
								完全歩合 25.0万円〜50.0万円フリーランス業務委託制度→売上の50％バック給与をお支払いします。
							</dd>
						</dl>
						<dl>
							<dt>
								勤務時間
							</dt>
							<dd>
								10:00〜18:00<br>フリーランス業務委託制度→お仕事の時間管理は自由に設定管理して頂けます。
							</dd>
						</dl>
						<dl>
							<dt>
								休日休暇
							</dt>
							<dd>
								フリーランス業務委託制度→お仕事の時間管理は自由に設定管理して頂けます。
							</dd>
						</dl>
						<dl>
							<dt>
								必要経験
							</dt>
							<dd>
								店長経験あり / スタイリスト / アシスタント / ジュニアスタイリスト
							</dd>
						</dl>
						<dl>
							<dt>
								必要資格
							</dt>
							<dd>
								美容師免許
							</dd>
						</dl>
						<dl>
							<dt>
								福利厚生
							</dt>
							<dd>
								業務委託制度での方はご応募後、ご相談下さい。
							</dd>
						</dl>
					</div>
				</div>
				<div id="tab04" class="item-recruitct">
					<h2 class="c-ttl__05"><span>美容師（契約社員）</span></h2>
					<div class="bl-recruitct">
						<dl>
							<dt>
								募集職種
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								役職
							</dt>
							<dd>
								美容師
							</dd>
						</dl>
						<dl>
							<dt>
								勤務地
							</dt>
							<dd>
								<ul class="list-address">
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Soins水道橋店</span><br>
										東京都 文京区 本郷1-15-2　 三澤第一ビル201号室<br>
										水道橋駅 徒歩1分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Hanare綾瀬店</span><br>
										東京都 足立区 綾瀬3-15-1<br>
										綾瀬駅 徒歩2分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa 金町店</span><br>
										東京都 葛飾区 東金町2-18-1 マルマスビル205<br>
										金町駅 徒歩6分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Relacion亀有店</span><br>
										東京都 葛飾区 亀有5-20-11 YSビルド202<br>
										亀有駅 徒歩4分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa RUANA青山店</span><br>
										東京都 港区 南青山1-10-10 I&T Minamiaoyama<br>
										青山一丁目駅 徒歩5分
									</li>
									<li class="item-addres">
										<span class="c-fw--bd">AInoa Codino金町店</span><br>
										東京都 葛飾区 東金町1-18-12　 1F<br>
										金町駅 徒歩3分
									</li>
								</ul>
							</dd>
						</dl>
						<dl>
							<dt>
								仕事内容
							</dt>
							<dd>
								一般美容業務のお仕事です。
							</dd>
						</dl>
						<dl>
							<dt>
								給与
							</dt>
							<dd>
								月給 25.0万円〜50.0万円<br>
								完全歩合 25.0万円〜50.0万円<br>
								フリーランス業務委託制度→売上の50％バック給与をお支払いします。
							</dd>
						</dl>
						<dl>
							<dt>
								勤務時間
							</dt>
							<dd>
								10:00〜19:00／（実働8時間）<br>フリーランス業務委託制度→お仕事の時間管理は自由に設定管理して頂けます。
							</dd>
						</dl>
						<dl>
							<dt>
								休日休暇
							</dt>
							<dd>
								週休2日制（毎週火曜日+４日）シフト制 <br>年末年始休暇（最低4日～５日）
							</dd>
						</dl>
						<dl>
							<dt>
								必要経験
							</dt>
							<dd>
								スタイリスト / アシスタント / ジュニアスタイリスト
							</dd>
						</dl>
						<dl>
							<dt>
								必要資格
							</dt>
							<dd>
								美容師免許
							</dd>
						</dl>
						<dl>
							<dt>
								福利厚生
							</dt>
							<dd>
								<ul class="list-circle">
									<li class="item">
										交通費支給(1.5万円/月迄)
									</li>
									<li class="item">
										社会保険完備
									</li>
									<li class="item">
										歩合給有り
									</li>
									<li class="item">
										冠婚葬祭
									</li>
									<li class="item">
										夏季・冬季休暇4日〜7日
									</li>
									<li class="item">
										技術指導有(当社カリキュラムに沿う)
									</li>
									<li class="item">
										店販ノルマ無 
									</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<section class="sec-recruitstep">
		<div class="inner">
			<h2 class="c-ttl__05 c-ttl__05--lg"><span>募集後の流れ</span></h2>
			<ul class="list-recruitstep">
				<li class="item">
					<div class="item-w">
						<div class="nb">
							<span class="step">STEP</span>
							<span class="number">01</span>
						</div>
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/img-ico01.png" alt="Step 01">
						</div>
						<div class="txt">
							応募フォーム<br>またはお電話による<br>お申込み
						</div>
					</div>
					
				</li>
				<li class="item">
					<div class="item-w">
						<div class="nb">
							<span class="step">STEP</span>
							<span class="number">02</span>
						</div>
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/img-ico02.png" alt="Step 02">
						</div>
						<div class="txt">
							担当者からお電話で<br>面接のご案内
						</div>
					</div>
					
				</li>
				<li class="item">
					<div class="item-w">
						<div class="nb">
							<span class="step">STEP</span>
							<span class="number">03</span>
						</div>
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/img-ico03.png" alt="Step 03">
						</div>
						<div class="txt">
							希望サロン店舗の<br>見学もOKです
						</div>
					</div>
					
				</li>
				<li class="item">
					<div class="item-w">
						<div class="nb">
							<span class="step">STEP</span>
							<span class="number">04</span>
						</div>
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/img-ico04.png" alt="Step 04">
						</div>
						<div class="txt">
							担当者と面接
						</div>
					</div>
					
				</li>
				<li class="item">
					<div class="item-w">
						<div class="nb">
							<span class="step">STEP</span>
							<span class="number">05</span>
						</div>
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/recruit/img-ico05.png" alt="Step 05">
						</div>
						<div class="txt">
							店舗配属後<br>お客様に接客開始
						</div>
					</div>
					
				</li>
			</ul>
		</div>
	</section>
	<div class="bl-linkbtn">
		<div class="inner">
			<a href="" class="c-btn__04">
				<span>ENTRY<span class="material-symbols-outlined">arrow_forward</span></span>
			</a>
		</div>
	</div>
</main>