<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title><%= pageData.title %></title>
	<meta name="description" content="<%= pageData.description %>">
	<meta name="keywords" content="<%= pageData.keyword %>">
	<meta name="format-detection" content="telephone=no">
	
	<% if(pageData.template == "index"){ %>
		<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>js/swiper/swiper-bundle.min.css">
	<% } else { %>
		<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>js/slick/slick-theme.css">
		<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>js/slick/slick.css">
	<% } %>
	
	<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/styles.css">
</head>
<body>

	<%- include('common/_header'); %>
	<%- include(pageData.template, {datalabel:'data'}) %>
	<%- include('common/_footer'); %>

	<script src="<%= RELATIVE_PATH %>js/vendors/jquery-3.6.0.min.js"></script>
	
	<% if(pageData.template == "index"){ %>
		<script src="<%= RELATIVE_PATH %>js/swiper/swiper-bundle.min.js"></script>
	<% } else { %>
		<script src="<%= RELATIVE_PATH %>js/slick/slick.min.js"></script>
	<% } %>
	
	<script src="<%= RELATIVE_PATH %>js/vendors/jquery.matchHeight-min.js"></script>
	<script src="<%= RELATIVE_PATH %>js/vendors/ofi.min.js"></script>
	<script src="<%= RELATIVE_PATH %>js/vendors/setting.js"></script>
	
	
	<% if(pageData.template == "index"){ %>
		<script>
			const swiper = new Swiper('.swiper', {
				autoplay: { delay: 5e3 },
				loop: !0,
				speed: 1500,
				allowTouchMove: !1,
				slidesPerView: "auto",
				pagination: { el: ".swiper-pagination", type: "bullets", clickable: !0 },
			});
		</script>
	<% } %>
</body>
</html>
